@charset "utf-8";

/* 웹폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/npm/@noonnu/cafe24-ssurround-air@0.1.0/index.min.css');

/* CSS 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, select, textarea, button {
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    vertical-align: baseline;
    appearance: none;
    background: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
div, p, span, li, footer{
    word-wrap: break-word;
    word-break: keep-all;
    letter-spacing: -1px;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
a{ text-decoration: none;}
body{font-family: 'Pretendard', sans-serif;font-size:14px;}
#page {
    
    width: min(100vw, 480px);
    margin: 0 auto;
    touch-action: manipulation
}
#layout-section{
    min-height: calc(100vh - 80px);
    padding-bottom:80px;
}
#footer {
    background-color:#393939;
    color:white;
    padding:25px 30px;
    font-family: 'Cafe24SsurroundAir';
    font-size:13px;
    line-height: 1.3;
}
/* common */
.text-center{
    text-align: center;
}
.mx-auto{
    margin:0 auto;
}
img.img{
    width: 100%;
}
input{
    background: #dfdfdf;
    border:1px solid #000;
    color: #000;
    transition: background-color 0.3s ease, color 0.3s ease;
    height:44px;
    line-height: 44px;
}
input:focus {
    background: #d0d0d0;
    color: #111;
    outline: none;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

/* main */
#fireworksContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 480px);
    height: 300px;
    pointer-events: none;
    z-index: 1000;
}

.firework {
    position: absolute;
    transition: all 0.5s ease-out;
}

.firework-particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    transition: all 0.5s ease-out;
}
.main-container .main-top{
    position: relative;
    padding:30px 0;
    background: url('/images/bg-t1.jpg') repeat 0 0;
}
.main-top .main-title{
    width: min(100%, calc(1156 * 100% / 1280));
    margin:0 auto;
}
.main-top .main-sub-title{
    
    width: min(100%, calc(866 * 100% / 1280));
    margin:16px auto 0;
}
.main-top .main-img{
    width: min(100%, calc(1261 * 100% / 1280));
    margin:0 auto;
}
.main-top .btn-wrap{
    display: block;
    width: min(100%, calc(806 * 100% / 1280));
    margin:0 auto;
}
.main-container .btn-group{
    margin-top:10px;
    display: flex;
    gap:30px;
    justify-content: center;
}
.main-container .btn-group button{
    flex-shrink: 0;
}
.main-container .main-cont{
    margin-top: 20px;
    padding: 0 24px;
}
.main-cont .main-copy{
    width: min(100%, calc(1039 * 100% / 1200));
}
.main-cont .main-info{
    margin-top: 20px;
 }
.main-cont .main-info li{
    position: relative;
    margin-bottom:2px;
}
.main-cont .main-info li.indent{
    text-indent:-45px;
    padding-left:45px;
}
.main-cont .main-info li strong{
    color:skyblue;
}
.main-cont .main-info li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-top .notice{
    margin:40px auto 0 7%;
}

.main-top .notice li{
    font-size:13px;
}
.main-top .notice li *{
    display: inline-block;
    vertical-align: baseline
}
.main-top .notice li span{
    font-size:11px;
    margin:0 5px;
    flex-shrink: 0;
}
.main-top .notice li em{
    font-style: normal;
    font-size:12px;
}
.main-top .notice li .gift-img{
    width:90%;
    padding-left:70px;
    margin:5px 0 0 0;
}
.main-top .notice li .gift-sub-text{
    width:90%;
    padding-left:70px;
    margin:10px 0 0 0;
    font-size:12px;
}
.main-top .notice li .gift-sub-text strong{
    color:#ea002c;
}
.highlight1{
    background:url('/images/highlight-1.png') no-repeat center;
    background-size: contain;
    width:60px;
    aspect-ratio: 169 / 44;
    margin-left:3px;
}
.highlight2{
    background:url('/images/highlight-2.png') no-repeat center;
    background-size: contain;
    width:100px;
    aspect-ratio: 299 / 43;
    margin-left:3px;
}
.main-top .notice li .space{
    display: inline-block;
    width:35px;
    height:1px;
    margin:0;
    font-size:0;
}
.notice-title{
    font-size:15px;
    font-weight: 500;
    text-align: center;
    margin-top:20px;
}
.notice ul {
    margin-top: 5px;
    list-style: none;
    padding: 0;
}
.notice li {
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;
    letter-spacing: -1px;
}
.notice li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 4px;
    height: 4px;
    background: black;
    transform: rotate(45deg);
}
.btn-kakao-share{
    display:block;
    width:min(100%, calc(800 * 100% / 1280));
    margin:0 auto;
    aspect-ratio: 800 / 170;
}

/* 레이어팝업 */
.layer-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    visibility: hidden;
}

.layer-popup .dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.layer-popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -45%, 0);
    background: white;
    width: calc(1165 / 1280 * 100%);
    max-width: 440px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
    border:1px solid #000;
}
.layer-popup .content .content-inner{
    border:3px solid #ffd70c;
    border-radius: 10px;
    padding:32px 12px
}
.layer-popup .btn-close{
    position: absolute;
    top:-24px;
    right:-2px;
    width:42px;
}
.layer-popup .btn-close img{
    width:100%;
    height:100%;
}

.layer-popup.show {
    display: block;
    visibility: visible;
    animation: modalFadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.hide {
    animation: modalFadeOut 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.show .dimm {
    opacity: 1;
}

.layer-popup.show .content {
    opacity: 1;
    transform: translate(-50%, -50%);
    animation: modalSlideIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.hide .content {
    animation: modalSlideOut 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-style{
    color:#ffa95a;
    border-bottom:1px solid #ffa95a;
    font-weight:500;
}
.btn-style::after{
    content:'';
    display: inline-block;
    background: url('/images/icon-text-right.png') no-repeat center;
    background-size: contain;
    width: 5px;
    height:7px;
    margin-left: 8px;
    position: relative;
    top:-1px;
}
.btn-style-black{
    color:#000;
    border-bottom:1px solid #000;
}
.btn-style-black::after{
    content:'';
    display: inline-block;
    background: url('/images/icon-text-right-black.png') no-repeat center;
    background-size: contain;
    width: 5px;
    height:7px;
    margin-left: 8px;
    position: relative;
    top:-1px;
}
@keyframes modalFadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalSlideIn {
    from {
        transform: translate(-50%, -45%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes modalSlideOut {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -45%);
        opacity: 0;
    }
}

/* 오늘의 랭킹 */


#gameRankLayer .my-rank-content{
    display:none;
}
#gameRankLayer .my-rank-content.active{
    display:block;
}
#gameRankLayer .my-rank-content .my-nickname{
    font-size:24px;
    font-weight: 500;
}
#gameRankLayer .my-rank-content .my-rank{
    font-size:24px;
    font-weight: 500;
}
#gameRankLayer .my-rank-content .my-time{
    font-size:24px;
    font-weight: 500;
}
#gameRankLayer .today-rank-content{
    margin-top:10px;
    background: #fff;
    padding:20px;
    border-radius: 6px;
}

#gameRankLayer .today-rank-content h2{
    font-size:24px;
    font-weight: 500;
}

.rank-list {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rank-list li{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    justify-content: space-between;
}
.rank-list li:nth-child(1){
    background: red;
}
.rank-list li:nth-child(2){
    background: blue;
}   
.rank-list li:nth-child(3){
    background: green;
}
.rank-list li:nth-child(1) .rank-num{
    color:white;
}   
.rank-list li:nth-child(2) .rank-num{
    color:white;
}
.rank-list li:nth-child(3) .rank-num{
    color:white;
}
.rank-list li .rank-score {
    text-align: right;
}

/* employee */
.empno-text{
    text-align: center;
    margin-bottom:10px;
}
.empno-input input{
    max-width:420px;
    width:80%;
    text-align: center;
    margin:0 auto;
    display: block;
}
.empno-check-btn{
    width:80%;
    max-width:420px;
    aspect-ratio: 806 / 191;
    margin:30px auto;
    display: block;
}
.empno-sub-text{
    margin-top:40px;
    text-align: center;
    border-top:2px dashed #000;
    padding-top:30px;
    margin-bottom:20px;
}
.logo {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}
/* guide */

.guide-wrap .guide-map{
    width:80%;
    aspect-ratio: 1030 / 680;
    margin:0 auto;
}
.guide-wrap .cursor {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    /* 초기 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.guide-wrap .mark {
    visibility: hidden;
    position: absolute;
    width: 50px;
    height: 50px;
    /* 초기 위치 설정 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes cursorMove {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes markCheck {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* game */
.game-container {
    overflow: hidden;
    overscroll-behavior: none;
    /* width: min(100vw - 20px, 480px); */
    width: 100%;
    height: 82svh;
    background: #ddd;
    position: relative;
    max-height:870px;
}
.game-container .btn-home{
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(200 / 1200 * 100%);
    aspect-ratio: 1 / 1;
}
.game-container .btn-home img{width:100%}
.background {
    position: absolute;
    width: min(300vw, 1440px);
    aspect-ratio: 2548 / 1893;
    background: url("/images/background.png") no-repeat center;
    background-size: cover;
    transform-origin: 0 0;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 1px solid #000; */
}

.target.item1 { top: calc(798 / 1893 * 100%); left: calc(485 / 2548 * 100%); width: calc(115 / 2548 * 100%); aspect-ratio: 115 / 59; }
.target.item2 { top: calc(954 / 1893 * 100%); left: calc(723 / 2548 * 100%); width: calc(137 / 2548 * 100%); aspect-ratio: 137 / 84; }
.target.item3 { top: calc(780 / 1893 * 100%); left: calc(813 / 2548 * 100%); width: calc(62 / 2548 * 100%); aspect-ratio: 62 / 75; }
.target.item4 { top: calc(754 / 1893 * 100%); left: calc(886 / 2548 * 100%); width: calc(99 / 2548 * 100%); aspect-ratio: 99 / 63; }
.target.item5 { top: calc(668 / 1893 * 100%); left: calc(1129 / 2548 * 100%); width: calc(33 / 2548 * 100%); aspect-ratio: 33 / 73; }
.target.item6 { top: calc(992 / 1893 * 100%); left: calc(1232 / 2548 * 100%); width: calc(79 / 2548 * 100%); aspect-ratio: 79 / 62; }
.target.item7 { top: calc(561 / 1893 * 100%); left: calc(1371 / 2548 * 100%); width: calc(74 / 2548 * 100%); aspect-ratio: 74 / 53; }
.target.item8 { top: calc(433 / 1893 * 100%); left: calc(1502 / 2548 * 100%); width: calc(45 / 2548 * 100%); aspect-ratio: 45 / 26; }
.target.item9 { top: calc(423 / 1893 * 100%); left: calc(1598 / 2548 * 100%); width: calc(68 / 2548 * 100%); aspect-ratio: 68 / 47; }
.target.item10 { top: calc(644 / 1893 * 100%); left: calc(2061 / 2548 * 100%); width: calc(56 / 2548 * 100%); aspect-ratio: 56 / 50; }

.text {
    padding-top: 10px;
    text-align: center;
}

.zoom-controls {
    position: absolute;
    top: 85px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zoom-btn {
    padding: 8px 16px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.zoom-btn.active {
    background: #007bff;
    color: white;
    border-color: #0056b3;
}

/* 타이머 스타일 추가 */
.timer {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px 16px;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #333;
    border-radius: 4px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

/* 미니맵 스타일 추가 */
.minimap {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 70px;
    border: 2px solid #333;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.minimap-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("/images/background.png") no-repeat center;
    background-size: cover;
}

.minimap-viewport {
    position: absolute;
    border: 2px solid #007bff;
    background: rgba(0, 123, 255, 0.2);
    pointer-events: none;
}

.target-info{
    border-radius: 60px;
    background: #fff;
    visibility: hidden;
    position: fixed;
    bottom: 16vh;
    left: 50%;
    border: 2px solid #000;
    transform: translateX(-50%);
    width: min(100vw - 20px, 480px);
    animation: slideUp 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    gap: 20px;
}
.target-info::after {
    content: '';
    position: absolute;
    width:16px;
    aspect-ratio: 49 / 77;
    bottom:0px;
    left:16%;
    transform: translateY(99%);
    background:url('/images/tail.gif') no-repeat center;
    background-size: contain;
}
.target-info .bg-img{
    display:block;
    width: calc(200 / 1200 * 100%);
    aspect-ratio: 400 / 336;
    background: url('/images/target-img.png') no-repeat center;
    background-size: 1000%;
    flex-shrink: 0;
    
}
.target-info .bg-img.item1{
    background-position: 0% 0;
}
.target-info .bg-img.item2{
    background-position: 11.11111% 0;
}
.target-info .bg-img.item3{
    background-position: 22.22222% 0;
}
.target-info .bg-img.item4{
    background-position: 33.33333% 0;
}
.target-info .bg-img.item5{
    background-position: 44.44444% 0;
}
.target-info .bg-img.item6{
    background-position: 55.55556% 0;
}
.target-info .bg-img.item7{
    background-position: 66.66667% 0;
}
.target-info .bg-img.item8{
    background-position: 77.77778% 0;
}
.target-info .bg-img.item9{
    background-position: 88.88889% 0;
}
.target-info .bg-img.item10{
    background-position: 100% 0;
}
.target-info .name{
    font-size:16px;
}
.target-info .country{
    font-size:16px;
}
.target-info .desc{
    margin-top:5px;
    font-size:14px;
}

/* 스와이퍼 관련 스타일 추가 */
.target-list {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: min(100vw - 20px, 480px);
}
.found-target{
    text-align: right;
    margin:0 20px 15px;
}
.swiper {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    aspect-ratio: 1 / 1;
    background-color: #ffa500;
    max-width:25%;
}

.swiper-slide.found {
    text-decoration: line-through;
    background-color: #ccc;
}

@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

/* 클릭 효과 관련 스타일 추가 */
.target.found::after {
    content: '';
    position: absolute;
    width: 70px;
    aspect-ratio: 1 / 1;
    background:url('/images/mark-o.png') no-repeat center;
    background-size: contain;
    /* animation: pulse 0.5s ease-out; */
    box-shadow: 0 0 10px rgba(183, 137, 35, 0.5);
}

.click-mark {
    position: absolute;
    pointer-events: none;
    width: 90px;
    aspect-ratio: 1 / 1;
    background: url('/images/mark-x.png') no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
}

/* .click-mark.wrong::before,
.click-mark.wrong::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 10px;
    background: #ff0000;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(255, 0, 0, 0.5);
}

.click-mark.wrong::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.click-mark.wrong::after {
    transform: translate(-50%, -50%) rotate(-45deg);
} */

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.complete-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: url('/images/bg-t1.jpg') repeat 0 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    max-width: 480px;
}

.complete-layer.active {
    display:block;
}
.complete-layer .complete-content{
    padding:30px 20px;
    background: #fff;
    width:100%;
    border-radius: 6px;
}
.complete-content .btn-home2{
    position: absolute;
    top:30px;
    left:33px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.complete-content .btn-home2 .img{
    width: 24px;
    aspect-ratio: 57 / 61;
    flex-shrink: 0;
    display:inline-block;
}
.complete-content .btn-home-text{
    font-size:14px;
    color:#403320;
    flex-shrink: 0;
}
.complete-content .complete-top{
    width: 80vw;
    aspect-ratio: 1009 / 753;
    margin:0 auto;
    max-width:100%;
}
.complete-content .complete-text{
    width: 80vw;
    aspect-ratio: 966 / 123;
    margin:15px auto 0;
    max-width:100%;
}
.complete-form{
    margin-top:15px;
}
.complete-form .form-item{
    display:flex;
    gap:5px;
    margin-bottom:8px;
    align-items: center;
}

.complete-form .form-item label{
    flex-shrink: 0;
    width:15%;
    font-weight: 500;
}
.complete-form input[type="text"] {
    width: 80%;
    max-width: 300px;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.complete-form .phone-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}
.complete-form .phone-inputs input {
    flex: 1;
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.complete-form .complete-tit{
    font-weight: 500;
    margin-top:15px;
}
.mt-10{
    margin-top:10px;
}
.mt-20{
    margin-top:20px;
}
.mt-30{
    margin-top:30px;
}
.complete-form .complete-list{
    margin-top:10px;
}
.complete-form .complete-list li {
    position: relative;
    padding-left: 12px;
    margin-bottom: 5px;
    font-size: 13px;
    line-height: 1.4;
    word-break: keep-all;
}

.complete-form .complete-list li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 7px;
    width: 3px;
    height: 3px;
    background: #000;
}
.complete-form .complete-privacy{
    margin-top:10px;
    padding:10px;
    border:1px solid #ccc;
    font-size:12px;
    word-break: keep-all;
    max-height: 160px;
    overflow-y: auto;
}
.complete-form .complete-checkbox{
    margin-top:10px;
}
.complete-form .complete-checkbox input{
    appearance: none;
    width: 22px;
    height: 22px;
    border: 1px solid #797877;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    display:inline-block;
    background: #fff;
}

.complete-form .complete-checkbox input:checked {
    background: url('/images/icon-check.jpg') no-repeat center;
    background-size: 80%;
    border: none;
    border: 1px solid #797877;
    
}
.complete-form .complete-checkbox label{
    font-size:12px;
}
.complete-form #result {
    margin-top:35px;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.complete-form #result .img{
    width: 100%;
    aspect-ratio: 923 / 199;
}
.complete-form #result:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* 닉네임 */
.nickname-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.nickname-layer.active {
    display: flex;
}

.nickname-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.nickname-content input {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.nickname-content .nickname-error{
    margin-top:10px;
    display: none;
    color:#f00;
    font-size:12px;
}

/* 결과보기 */
.result-layer{
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: url('/images/bg-t1.jpg') repeat 0 0;
    z-index: 1000;
    padding: 20px;
    overflow-y: auto;
    max-width: 480px;
}
.result-layer.active{
    display: block;
}

.result-layer .result-content{
    padding:30px 20px;
    background: #fff;
    width:100%;
    border-radius: 6px;
    text-align: center;
}
.result-content .btn-home2{
    position: absolute;
    top:30px;
    left:33px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.result-content .btn-home2 .img{
    width: 24px;
    aspect-ratio: 57 / 61;
    flex-shrink: 0;
    display:inline-block;
}
.result-content .btn-home-text{
    font-size:14px;
    color:#403320;
    flex-shrink: 0;
}
.result-content .result-tit{
    padding-top:30px;
    font-size:24px;
    font-weight: 500;
    color:red;
    font-size:32px;
}
.result-content .user{
    margin-top:10px;
    font-size:18px;
    font-size:36px;
}
.result-content .time{
    margin-top:10px;
    font-size:24px;
    font-size:52px;
    font-weight: 700;
}
