@charset "utf-8";

/* 웹폰트 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url('https://cdn.jsdelivr.net/npm/@noonnu/cafe24-ssurround-air@0.1.0/index.min.css');

/* CSS 초기화 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, select, textarea, button {
    border: 0;
    font-size: 100%;
    font: inherit;
    list-style: none;
    vertical-align: baseline;
    appearance: none;
    background: none;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}
div, p, span, li, footer{
    word-wrap: break-word;
    word-break: keep-all;
    letter-spacing: -1px;
 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
a{ text-decoration: none;}
body{font-family: 'Pretendard', sans-serif;font-size:14px;}
#page {
    width: min(100vw, 480px);
    margin: 0 auto;
    touch-action: manipulation
}
#footer {
    background-color:#393939;
    color:white;
    padding:17px 24px;
    font-family: 'Cafe24SsurroundAir';
    font-size:12px;
    line-height: 1.3;
}
/* common */
.text-center{
    text-align: center;
}
.bold{font-weight: 700;}
.mx-auto{
    margin:0 auto;
}
img.img{
    width: 100%;
}
input{
    background: #dfdfdf;
    border:1px solid #000;
    color: #000;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    height:44px;
    line-height: 44px;
}
input:focus {
    background: #d0d0d0;
    color: #111;
    outline: none;
    box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

/* main */
#fireworksContainer, #fireworksContainer2 {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 480px);
    height: 300px;
    pointer-events: none;
    z-index: 2000;
}

.firework {
    position: absolute;
    transition: all 0.5s ease-out;
}

.firework-particle {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: red;
    transition: all 0.5s ease-out;
}
.main-container .main-top{
    position: relative;
    padding:30px 0;
    background: url('/images/bg-t1.jpg') repeat 0 0;
}
.main-top .main-title{
    width: min(100%, calc(1156 * 100% / 1280));
    margin:0 auto;
}
.main-top .main-sub-title{
    width: min(100%, calc(866 * 100% / 1280));
    margin:16px auto 0;
}
.main-top .main-img{
    width: min(100%, calc(1261 * 100% / 1280));
    margin:0 auto;
}
.main-top .btn-wrap{
    display: block;
    width: min(100%, calc(806 * 100% / 1280));
    margin:0 auto;
}
.main-top .btn-wrap .btn-game-start{
    transition: transform 0.1s ease;
}
.main-top .btn-wrap .btn-game-start:active {
    transform: scale(0.95);
}
.main-container .btn-group{
    margin-top:10px;
    display: flex;
    gap:30px;
    justify-content: center;
}
.main-container .btn-group button{
    flex-shrink: 0;
}
.main-container .main-cont{
    margin-top: 30px;
    padding: 0 0 20px;
}
.main-cont .main-copy{
    width: min(100%, calc(1039 * 100% / 1280));
}
.main-cont .main-info{
    margin-top: 20px;
 }
.main-cont .main-info li{
    position: relative;
    margin-bottom:2px;
}
.main-cont .main-info li.indent{
    text-indent:-45px;
    padding-left:45px;
}
.main-cont .main-info li strong{
    color:skyblue;
}
.main-cont .main-info li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-size: contain;
    background-repeat: no-repeat;
}

.main-top .notice{
    margin:40px auto 0 7%;
}

.main-top .notice li{
    font-size:13px;
}
.main-top .notice li *{
    display: inline-block;
    vertical-align: baseline
}
.main-top .notice li span{
    font-size:11px;
    margin:0 5px;
    flex-shrink: 0;
}
.main-top .notice li em{
    font-style: normal;
    font-size:12px;
}
.main-top .notice li .gift-img{
    width:90%;
    padding-left:70px;
    margin:5px 0 0 0;
}
.main-top .notice li .gift-sub-text{
    width:90%;
    padding-left:70px;
    margin:10px 0 0 0;
    font-size:12px;
}
.main-top .notice li .gift-sub-text strong{
    color:#ea002c;
}
.highlight1{
    background:url('/images/highlight-1.png') no-repeat center;
    background-size: contain;
    width:60px;
    aspect-ratio: 169 / 44;
    margin-left:3px;
}
.highlight2{
    background:url('/images/highlight-2.png') no-repeat center;
    background-size: contain;
    width:100px;
    aspect-ratio: 299 / 43;
    margin-left:3px;
}
.main-top .notice li .space{
    display: inline-block;
    width:33px;
    height:1px;
    margin:0;
    font-size:0;
}
.notice-title{
    font-size:15px;
    font-weight: 700;
    text-align: center;
    margin-top:20px;
    text-decoration: underline;    
    text-underline-offset: 4px;
}
.main-cont .notice{
    padding:0 24px;
}
.notice ul {
    margin-top: 5px;
    list-style: none;
    padding: 0;
}
.notice li {
    position: relative;
    padding-left: 10px;
    font-size: 12px;
    line-height: 1.3;
    margin-bottom: 5px;
    letter-spacing: -1px;
}
.notice li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 4px;
    height: 4px;
    background: black;
    transform: rotate(45deg);
}
.btn-kakao-share{
    display:block;
    width:min(100%, calc(800 * 100% / 1280));
    margin:0 auto;
    aspect-ratio: 800 / 170;
}

/* 레이어팝업 */
.layer-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    visibility: hidden;
}

.layer-popup .dimm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.layer-popup .content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -45%, 0);
    background: white;
    width: calc(1165 / 1280 * 100%);
    max-width: 440px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
    border:1px solid #000;
}
.layer-popup .content .content-inner{
    border:3px solid #ffd70c;
    border-radius: 10px;
    padding:32px 12px
}
.layer-popup .btn-close{
    position: absolute;
    top:-24px;
    right:-2px;
    width:42px;
}
.layer-popup .btn-close img{
    width:100%;
    height:100%;
}

.layer-popup.show {
    display: block;
    visibility: visible;
    animation: modalFadeIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.hide {
    animation: modalFadeOut 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.show .dimm {
    opacity: 1;
}

.layer-popup.show .content {
    opacity: 1;
    transform: translate(-50%, -50%);
    animation: modalSlideIn 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.layer-popup.hide .content {
    animation: modalSlideOut 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-style{
    color:#ffa95a;
    border-bottom:1px solid #ffa95a;
    font-weight:500;
}
.btn-style::after{
    content:'';
    display: inline-block;
    background: url('/images/icon-text-right.png') no-repeat center;
    background-size: contain;
    width: 5px;
    height:7px;
    margin-left: 8px;
    position: relative;
    top:-1px;
}
.btn-style-black{
    color:#000;
    border-bottom:1px solid #000;
}
.btn-style-black::after{
    content:'';
    display: inline-block;
    background: url('/images/icon-text-right-black.png') no-repeat center;
    background-size: contain;
    width: 5px;
    height:7px;
    margin-left: 8px;
    position: relative;
    top:-1px;
}
@keyframes modalFadeIn {
    from {
        visibility: hidden;
        opacity: 0;
    }
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes modalFadeOut {
    from {
        visibility: visible;
        opacity: 1;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}

@keyframes modalSlideIn {
    from {
        transform: translate(-50%, -45%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes modalSlideOut {
    from {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -45%);
        opacity: 0;
    }
}

/* 오늘의 랭킹 */

#gameRankLayer .content{
    background:#fff url('/images/bg-rank-layer.jpg') repeat 0 0;
    background-size: contain;
}
#gameRankLayer .content .content-inner{
    padding:9px 5px 20px;
}
.my-rank-content{
    display:none;
    background:url('/images/bg-my-rank.png') no-repeat center;
    background-size: contain;
    width:97%;
    max-width:327px;
    margin:0 auto;
    aspect-ratio: 1075 / 432;
    padding: 12% 0 0 43%;
    
}
.my-rank-content.active{
    display:block;
}
.my-rank-content .my-rank-wrap{
    display:flex;
    align-items: center;
    margin-top:5px;
    gap:15px;
}
.my-rank-content .my-nickname {
    font-size: 8vw;
    max-width: 180px;
    font-weight: 700;
    overflow: hidden;
}

.my-rank-content .divider{
    font-size:4.5vw;
}
.my-rank-content .my-rank {
    font-size: 4.5vw;
    font-weight: 500;
    overflow: hidden;
}
.my-rank-content .my-time {
    font-size: 4.5vw;
    font-weight: 500;
    overflow: hidden;
}
.my-rank-content + .rank-content{
    margin-top:10px;
}

.rank-content{
    margin-top:20px;
    padding:0 2.3%
}
.rank-list {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-width:321px;
    margin:0 auto;
}
.rank-list li{
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    justify-content: space-between;
    padding:13px 0;
    background:url('/images/bg-rank.png') no-repeat 0 0;
    background-size: contain;
    height:44px;
    margin-left:3px;
}
.rank-list li:nth-child(1){
    background:url('/images/bg-rank-1.png') no-repeat 0 0;
    background-size: contain;
}
.rank-list li:nth-child(2){
    background:url('/images/bg-rank-2.png') no-repeat 0 0;
    background-size: contain;
}   
.rank-list li:nth-child(3){
    background:url('/images/bg-rank-3.png') no-repeat 0 0;
    background-size: contain;
}

.rank-list li .rank-num {
    padding-left:18px;
    font-size:13px;
    font-weight: 500;
}
.rank-list li:nth-child(1) .rank-num {
    margin-left: 1px;
}
.rank-list li .rank-score {
    text-align: right;
    padding-right:20px;
}
/* 특정 뷰포트 크기 이상에서는 고정된 크기로 변경 */
@media (min-width: 390px) {
    .my-rank-content{
        padding:40px 0 0 144px;
    }
    .my-rank-content .my-nickname {
        font-size: 32px;
    }
    .my-rank-content .my-rank, .my-rank-content .divider, .my-rank-content .my-time {
        font-size: 18px;
    }
}

/* employee */
.empno-text{
    text-align: center;
    margin-bottom:10px;
}
.empno-input input{
    max-width:420px;
    width:80%;
    text-align: center;
    margin:0 auto;
    display: block;
}
.empno-check-btn{
    width:80%;
    max-width:420px;
    aspect-ratio: 806 / 191;
    margin:30px auto;
    display: block;
    transition: transform 0.1s ease;
}
.empno-check-btn:active {
    transform: scale(0.95);
}
.empno-sub-text{
    margin-top:40px;
    text-align: center;
    border-top:2px dashed #000;
    padding-top:30px;
    margin-bottom:20px;
}
.logo {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
}

.logo img {
    max-width: 150px;
    height: auto;
}
/* guide */
.guide-title{
    width:52%;
    margin:0 auto;
}
.guide-sub-text{
    text-align: center;
    margin-top:13px;
    font-size:16px;
    font-weight: 500;
}
.guide-sub-text strong{
    color:#ea002c;
}
.guide-wrap .guide-map{
    width:90%;
    aspect-ratio: 1261 / 955;
    margin:12px auto 0;
}
.guide-wrap .cursor {
    visibility: hidden;
    position: absolute;
    width:15%;
    aspect-ratio: 133 / 165;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: cursorMoveToCenter 1s ease-in-out 1s forwards;
}

.guide-wrap .mark {
    visibility: hidden;
    position: absolute;
    width: 16%;
    aspect-ratio: 184 / 157;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
}

@keyframes cursorMoveToCenter {
    0% {
        transform: translate(100%, 100%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes cursorClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes markCheck {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/* game */
.intro-dimm{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:#000;
    z-index:10;
    opacity: 0.8;
}
.intro-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    font-weight: bold;
    color: #fff;
    z-index: 11;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
}
.game-page{
    background:#000;
    padding:1px;
    position:relative;
}
.layout-section{
    border:3px solid #ffd70c;
    border-radius: 10px;
    height:calc(100vh - 2px);
    overflow: hidden;
}
.game-container {
    overflow: hidden;
    overscroll-behavior: none;
    width: 100%;
    height: calc(100% - 16.3vh);
    position: relative;
}
.target-list::after{
    content:'';
    position: absolute;
    top:-4px;
    left:0;
    width:100%;
    height:4px;
    background:url('/images/deco-embo.png') repeat 0 0;
    background-size: 11px 4px;
}
.btn-home{
    position: absolute;
    top: -1px;
    left: 4.6%;
    width: calc(183 / 1280 * 100%);
    aspect-ratio: 183 / 213;
    z-index:1;
    max-width:55px;
}

#zoomIn{
    top:80px;
    
}
#zoomOut{
    top:150px;
}
/* 확대 축소 버튼 */
.zoom-btn {
    position: absolute;
    right:20px;
    top: 85px;
    width: min(100%, calc(173 * 100% / 1280));
    max-width:50px;
    aspect-ratio: 173 / 210;
    cursor: pointer;
    display: block;
}
.zoom-btn:active {
    transform: scale(0.8);
    transition: transform 0.1s ease;
}
.deco-search-count{
    position: absolute;
    top:4px;
    left:19%;
    width:calc(141 / 1280 * 100%);
    aspect-ratio: 141 / 170;
}
.found-target{
    position: absolute;
    top:16px;
    left:31%;
    font-size:22px;
    font-weight: 900;
    color:#fff;
}
.found-target .found-count{
    color:#ffd417;
}
.found-target .slash{
    margin:0 3px;
}

/* 타이머 스타일 추가 */
.deco-timer{
    position: absolute;
    top:16px;
    right:29%;
    width:calc(89 / 1280 * 100%);
    aspect-ratio: 89 / 94;
}
.timer {
    position: absolute;
    top: 12px;
    right: 4.6%;
    font-weight: bold;
    color: white;
    font-weight:700;
    font-size:30px;
}

.background {
    position: absolute;
    width: min(300vw, 1440px);
    aspect-ratio: 2548 / 1893;
    background: url("/images/background.png") no-repeat center;
    background-size: cover;
    transform-origin: 0 0;
}

.target {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* border: 1px solid #000; */
}

.target.item1 { top: calc(798 / 1893 * 100%); left: calc(485 / 2548 * 100%); width: calc(115 / 2548 * 100%); aspect-ratio: 115 / 59; }
.target.item2 { top: calc(954 / 1893 * 100%); left: calc(723 / 2548 * 100%); width: calc(137 / 2548 * 100%); aspect-ratio: 137 / 84; }
.target.item3 { top: calc(780 / 1893 * 100%); left: calc(813 / 2548 * 100%); width: calc(62 / 2548 * 100%); aspect-ratio: 62 / 75; }
.target.item4 { top: calc(754 / 1893 * 100%); left: calc(886 / 2548 * 100%); width: calc(99 / 2548 * 100%); aspect-ratio: 99 / 63; }
.target.item5 { top: calc(668 / 1893 * 100%); left: calc(1129 / 2548 * 100%); width: calc(33 / 2548 * 100%); aspect-ratio: 33 / 73; }
.target.item6 { top: calc(992 / 1893 * 100%); left: calc(1232 / 2548 * 100%); width: calc(79 / 2548 * 100%); aspect-ratio: 79 / 62; }
.target.item7 { top: calc(561 / 1893 * 100%); left: calc(1371 / 2548 * 100%); width: calc(74 / 2548 * 100%); aspect-ratio: 74 / 53; }
.target.item8 { top: calc(433 / 1893 * 100%); left: calc(1502 / 2548 * 100%); width: calc(45 / 2548 * 100%); aspect-ratio: 45 / 26; }
.target.item9 { top: calc(423 / 1893 * 100%); left: calc(1598 / 2548 * 100%); width: calc(68 / 2548 * 100%); aspect-ratio: 68 / 47; }
.target.item10 { top: calc(644 / 1893 * 100%); left: calc(2061 / 2548 * 100%); width: calc(56 / 2548 * 100%); aspect-ratio: 56 / 50; }

.text {
    padding-top: 10px;
    text-align: center;
}



/* 미니맵 스타일 추가 */
.minimap {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 134px;
    height: 74px;
    border: 2px solid white;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
}

.minimap-content {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("/images/background.png") no-repeat center;
    background-size: cover;
}

.minimap-viewport {
    position: absolute;
    border: 2px solid #f92225;
    pointer-events: none;
}
#itemLayer .content{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: url('/images/bg-item.png') repeat 0 0;
    background-size: 100%;
    aspect-ratio: 905 / 1063;
    width: calc(905 / 1280 * 100%);
    max-width: 440px;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
    border:0 none;
}
#itemLayer .content .btn-close{
    position: absolute;
    top:1.5%;
    right:1.5%;
    width:11.6%;
}
#itemLayer .bg-img{
    display:block;
    width: 80%;
    margin:20% auto 0;
    aspect-ratio: 720 / 578;
}
#itemLayer .bg-img.item1{
    background: url('/images/item-pop1.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item2{
    background: url('/images/item-pop2.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item3{
    background: url('/images/item-pop3.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item4{
    background: url('/images/item-pop4.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item5{
    background: url('/images/item-pop5.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item6{
    background: url('/images/item-pop6.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item7{
    background: url('/images/item-pop7.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item8{
    background: url('/images/item-pop8.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item9{
    background: url('/images/item-pop9.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .bg-img.item10{
    background: url('/images/item-pop10.png') no-repeat 0 0;
    background-size: 100%;
}
#itemLayer .item-desc{
    display:block;
    width: 80%;
    margin:15px auto 0;
    text-align: center;
    font-size:13px;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    line-height:1.4;
    word-break: keep-all;
    white-space: pre-wrap;
}
#itemLayer .item-desc span{
    background-color:#FFF000;
}
/* 스와이퍼 관련 스타일 추가 */
.target-list {
    position: fixed;
    width: min(100vw - 8px, 472px);
    height: 16.3vh;
    background: #fff;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    border-radius:0 0 6px 6px;
}

.swiper {
    position:relative;
    top:50%;
    transform:translateY(-50%);
    width: 100%;
    padding: 0 10px;
}
.swiper-wrapper{
    display:flex;
    align-items: center;
}
.swiper-slide {
    transition: all 0.3s ease;
    max-width: 20%;
    position: relative;
}

.item-img-yellow {
    width:100%;
    aspect-ratio: 222 / 281;
    position:absolute;
    z-index: 3;
    left:0;
    top:0;
    overflow: hidden;
    padding:8px 6px 0 0;
    background: #fff;
}
.item-img-red {
    width:100%;
    aspect-ratio: 222 / 281;
    position:absolute;
    z-index: 2;
    left:0;
    top:0;
    transition: opacity 0.5s ease;
    overflow: hidden;
    padding:8px 6px 0 0;
    background: #fff;
}
.item-img-on{
    width: calc(242 / 1280 * 100%);
    width:100%;
    aspect-ratio: 242 / 306;
    transition: opacity 0.3s ease;
    z-index: 1;
    opacity: 0;
    background: #fff;
}
.item-img-on.check:before{
    content:'';
    position: absolute;
    top:0;
    right:0;
    width:30px;
    height:30px;
    background:url('/images/mark-o.png') no-repeat center;
    background-size: contain;
}
@keyframes peelOff {
    0% {
        height: 100%;
        
    }
    99%{
        padding-top:8px;
    }
    100% {
        height: 0;
        padding-top:0;
    }
}
@keyframes slideUp {
    from {
        transform: translate(-50%, 100%);
        opacity: 0;
    }
    to {
        transform: translate(-50%, 0);
        opacity: 1;
    }
}

/* 클릭 효과 관련 스타일 추가 */
.target.found::after {
    content: '';
    position: absolute;
    width: 70px;
    aspect-ratio: 1 / 1;
    background:url('/images/mark-o.png') no-repeat center;
    background-size: contain;
    /* animation: pulse 0.5s ease-out; */
    box-shadow: 0 0 10px rgba(183, 137, 35, 0.5);
}

.click-mark {
    position: absolute;
    pointer-events: none;
    width: 70px;
    aspect-ratio: 1 / 1;
    background: url('/images/mark-x.png') no-repeat center;
    background-size: contain;
    transform: translate(-50%, -50%);
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.complete-layer {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1000;
    overflow-y: auto;
    max-width: 480px;
    padding:1px
}

.complete-layer.active {
    display:block;
}
.complete-layer .complete-content{
    border:3px solid #ffd70c;
    padding:30px 0;
    background: #fff;
    width:100%;
    border-radius: 20px;
    min-height:100%;
}
.complete-content .complete-top{
    position: relative;
    width:100%;
}
.complete-content .complete-top .img{
    position: relative;
    display:block;
    width: min(100%, calc(1011 * 100% / 1272));
    aspect-ratio: 1011 / 771;
    margin:0 auto;
    max-width:100%;
}
.complete-content .complete-text{
    position: absolute;
    bottom: -5px;
    left: 50%;
    font-size: 3.5vw;
}

@media (min-width: 480px) {
    .complete-content .complete-text {
        font-size: 16px;
    }
}

.complete-form{
    border-top:2px dashed #000;
    margin:20px 24px 0;
    padding-top:26px;
}
.complete-form .complete-form-tit{
    width:min(100%, calc(586 * 100% / 1180));
    aspect-ratio: 586 / 87;
    margin:0 auto;
}
.complete-form .complete-form-text{
    font-size:14px;
    line-height:1.3;
    margin-top:10px;
    text-align: center;
    margin-bottom:15px;
}
.complete-form .form-item{
    display:flex;
    gap:5px;
    margin-bottom:8px;
    align-items: center;
}

.complete-form .form-item label{
    flex-shrink: 0;
    width:15%;
    position: relative;
    font-size:17px;
    font-weight: 700;
    padding-left: 10px;
    margin-right:1%;
    min-width:66px;
}

.complete-form .form-item label .space{
    display: inline-block;
    width:10px;
    height:1px;
    margin:0;
    font-size:0;
}
.complete-form .form-item label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 4px;
    height: 4px;
    background: black;
    transform: rotate(45deg);
}
.complete-form input[type="text"] {
    width: 84%;
    max-width: 300px;
    height:40px;
    border: 1px solid #000;
    background-color:#dfdfdf;
    padding:0 10px;
}
.complete-form .phone-inputs {
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}
.complete-form .phone-inputs input {
    flex: 1;
    height:40px;
    border: 1px solid #000;
    background-color:#dfdfdf;
    padding:0 10px;
    text-align: center;
}
.complete-form .complete-notice{
    margin-top:10px;
}
.complete-form .complete-notice li{
    font-size:12px;
    line-height:1.2;
    margin-bottom:5px;
    padding-left: 9px;
    text-indent: -9px;
}
.complete-form .complete-agree-tit{
    font-weight: 700;
    margin-top:15px;
    position: relative;
    padding-left: 10px;
}
.complete-form .complete-agree-tit:before{
    content: '';
    position: absolute;
    left: 0;
    top: 6px;
    width: 4px;
    height: 4px;
    background: black;
    transform: rotate(45deg);
}
.mt-10{
    margin-top:10px;
}
.mt-20{
    margin-top:20px;
}
.mb-20{
    margin-bottom:20px;
}
.complete-form .complete-privacy{
    margin-top:10px;
    padding:10px;
    background: #efefef;
    font-size:12px;
    word-break: keep-all;
    height: 62px;
    overflow-y: auto;
}
.complete-form .complete-checkbox{
    margin-top:10px;
}
.complete-form .complete-checkbox input {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #797877;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    background: #fff;
    position: relative;
}

.complete-form .complete-checkbox input:checked::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('/images/icon-check.jpg') no-repeat center;
    background-size: 90%;
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.complete-form .complete-checkbox label{
    font-size:12px;
}
#result {
    display:block;
    margin:35px auto 0;
    width: 80%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.1s ease;
}
#result:active {
    transform: scale(0.95);
}
#result .img{
    width: 100%;
    aspect-ratio: 923 / 199;
}
#result:disabled {
    background: #ccc;
    cursor: not-allowed;
}

/* 닉네임 */
.nickname-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 10px;
}

.nickname-layer.active {
    display: flex;
}

.nickname-content {
    border:3px solid #ffd70c;
    background: white;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    width:70%;
    min-width: 290px;
    outline:#000 solid 1px;
    max-width: 350px;
}
.nickname-content .title-nickname{
    width:100%;
    margin-bottom:15px;
}
.nickname-content input {
    width: 90%;
    height:40px;
    padding:0 10px;
    margin-bottom: 5px;
    border: 1px solid #000;
    text-align: center;
}
.nickname-content .nickname-desc{
    text-align: right;
    font-size:12px;
    width:90%;
    margin-left:5%;
}
.nickname-content .nickname-error{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    display: none;
    color:#f00;
    font-size:12px;
}
.nickname-content .nickname-error:before{
    content: '';
    background: url('/images/icon-info.png') no-repeat center;
    background-size: 100%;
    width:15px;
    height:15px;
    display: inline-block;
    margin-right:2px;
}
#submitNickname{
    width:100%;
    margin-top:25px;
}

/* 결과보기 */
.result-layer{
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background: #000;
    padding:1px;
    z-index: 1000;
    overflow-y: auto;
    max-width: 480px;
}
.result-layer.active{
    display: block;
}

.result-layer .result-content{
    padding:10px 0 20px;
    background: #fff;
    width:100%;
    border-radius: 20px;
    border:3px solid #ffd70c;
    min-height: 100%;
    position: relative;
}
.result-layer .result-content .btn-home{
    top:-4px;
}
.result-content .result-top{
    min-height:500px;
    overflow-y: auto;
    padding-bottom:20vh;
}
.result-content .result-deco{
    width:75%;
    margin:0 auto;
}
.result-content .user{
    font-size:36px;
    font-weight: 900;
    text-align: center;
}
.result-content .result-tit{
    width:75%;
    margin:5px auto 0;
}
.result-content .rank-text{
    margin-top:10px;
    background:url('/images/bg-result-rank.png') no-repeat center;
    background-size: 95%;
    aspect-ratio: 1207 / 226;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:7vw;
    font-weight: 900;
}
.result-content .rank-text .rank{
    transform: translateY(-7px);
}
@media (min-width: 480px) {
    .result-content .rank-text{
        font-size:32px;
    }
}
.result-content .time{
    font-size:90px;
    font-weight: 900;
    text-align: center;
    line-height:90px;
}
.result-content .btn-style-black{
    display: block;
    margin:30px auto 0;
    font-size:20px;
}
.result-content .btn-style-black:after{
    width:10px;
    height:12px;
}
.result-content .result-bottom{
    position: absolute;
    bottom: 3px;
    left: 4px;
    width: calc(100% - 8px);
    padding: 10px 15px;
    background-color: white;
    display: flex;
    gap: 10px;
    border-radius: 20px;
}

.result-content .result-bottom > * {
    flex-grow: 1;
    width:50%;
}

