@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400,500,700,800|Roboto:300,400,500,700,800&display=swap&subset=korean');
/*
 * FontWeight * FontFamily Information
 * Noto Sans KR
 * Light 300, Regular 400, Medium 500, Bold 700, Black 900
 * font-family: 'Noto Sans KR', sans-serif;
 *
 * Roboto
 * Light 300, Regular 400, Medium 500, Bold 700, Black 900
 * font-family: 'Roboto', sans-serif;
 */

/* reset */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,
blockquote,pre,abbr,address,cite,code,del,dfn,em,img,
ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,figcaption,figure,footer,header,
menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;}
table{border:0;border-spacing:0;border-collapse:collapse;}
ul,ol,li,dl,dd,dt{list-style:none;}
img,fieldset,iframe{border:0 none;}
img{vertical-align:top;}
textarea{resize:none;}
input,select,textarea,button{font-size:100%;vertical-align:middle;outline:none;-webkit-appearance:none;-webkit-border-radius:0px;}
h1,h2,h3,h4,h5,h6{font-weight:normal;color:#222;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:"";content:none;}
body{-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
i{font-style:normal;}

/* box-sizing */
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}

/* base - IE8~7 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}

/* base - input */
input{color:#000;margin:0;padding:0;}
input:checked[type="checkbox"]{background-color:#666;-webkit-appearance:checkbox;}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
button{border:0;background-color:transparent;padding:0;cursor:pointer;}
input[type="radio"]{-webkit-appearance:radio;}
input[type="checkbox"]{-webkit-appearance:checkbox;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button{-webkit-appearance:none;}
input[type=number]{-moz-appearance:textfield;}

/* placeholder */
::-webkit-input-placeholder{color:#9b9b9b;font-weight:300;}
::-moz-placeholder{color:#9b9b9b;font-weight:300;}
:-ms-input-placeholder{color:#9b9b9b;font-weight:300;}
:-moz-placeholder{color:#9b9b9b;font-weight:300;}

/* base - a */
a{color:inherit;}
a,a:link,a:visited,a:hover,a:focus,a:active{text-decoration:none;}

/* base - body */
body,input,select,textarea,button{font:14px/1 "Roboto","Noto Sans KR","AppleSDGothicNeo","Malgun Gothic","맑은 고딕","돋움","Arial",sans-serif;color:#000;letter-spacing:-.5px;font-weight:400;}
input[type="password"]{font-family:"Malgun Gothic","맑은 고딕","돋움","Arial",sans-serif;}
input[type="password"]::-webkit-input-placeholder{font-family:"Noto Sans KR",sans-serif;}

/* base - customize */
.hide{position:absolute;left:-9999px;font-size:0;width:0;height:0;text-indent:-9999px;overflow:hidden;}
.away{overflow:hidden;width:0;height:0;padding:0;margin:0 !important;}
.ellipsis{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
/* mobile reset */
img{max-width:100%;}

/* base */
.content-sec{width:100%;background-color:#f6f7f8;}
.content-wrap{padding:0 20px 20px;}
.content-wrap:after{content:'';display:block;clear:both;}

.fl{float:left !important;}
.fr{float:right !important;}

.pt14{padding-top:14px !important;}
.pt20{padding-top:20px !important;}

.pb56{padding-bottom:56px !important;}
.pb80{padding-bottom:80px !important;}


.tx-l{text-align:left !important}
.tx-c{text-align:center !important}
.tx-disabled{color:#5e5e5e !important;}
.tx-lg{ color:#aaa !important;}
.tx-black{color:#222 !important;}
.tx-darkgray{color:rgba(34,34,34,0.8);}
.tx-gray{color:#777;}
.tx-white{color:#fff;}
.tx-blue80{color:#3f64c3 !important;}
.tx-blue60{color:#2d5fde;}
.tx-pink{color:#db2e63;}
.tx-sky{color:#24b8dd;}
.tx-purple{color:#6947e1;}
.tx-red80{color:#ff0000 !important;}
.tx-red60{color:#c22d40;}
.tx-gold{color:#c68513;}
.tx-green{color:#31bf45;}

.bg-blue80{background-color:#3f64c3;}
.bg-blue60{background-color:#2d5fde;}
.bg-blue20{background-color:#e6ecfb;}
.bg-pink{background-color:#db2e63;}
.bg-sky80{background-color:#24b8dd;}
.bg-sky60{background-color:#dfecf8 !important;}
.bg-purple{background-color:#6947e1;}
.bg-yellow{background-color:#f58e20;}
.bg-orange{background-color:#eb6100;}
.bg-red{background-color:#f23e2f;}
.bg-red60{background-color:#c22d40;}
.bg-indigo80{background-color:#04102e;}
.bg-indigo60{background-color:#182c49;}
.bg-indigo50{background-color:#004f9e;}
.bg-indigo40{background-color:#0094da;}
.bg-gold{background-color:#c68513;}
.bg-green{background-color:#108805;}
.bg-bluegray{background-color:#4c5772;}
.bg-light-gray{background-color:#d7d7d7;}
.bg-gray{background-color:#777;}
.bg-brown{background-color:#7e5f11;}
.bg-white{background-color:#fff;}

/* tit-wrap */
.tit-wrap:after{content:'';display:block;clear:both;}
.tit-wrap li{float:left;margin-right:16px;}
.tit-wrap li:last-child{margin-right:0;}
.tit-wrap li h4{font-weight:500;color:#222;}
.tit-wrap > h4{display:inline-block;font-size:16px;font-weight:500;color:#222;}
.tit-wrap > p{font-size:15px;color:#222;}

/* top-banner */
[class$=top-banner]{position:relative;background-color:#3f64c3;}
[class$=top-banner] h3{font-size:28px;font-weight:500;color:#fff;padding-top:24px;}
[class$=top-banner] p{line-height:1.4;font-size:14px;color:#fff;margin-top:24px;}
[class$=top-banner] .top-banner-bg{position:absolute;bottom:0;right:0;display:block;height:281;background-repeat:no-repeat;}

/* select-box */
.select-box button{position:relative;width:100%;height:40px;text-align:left;font-size:14px;padding:12px 10px 11px;border-radius:3px;border:1px solid #e7e7e7;}
.select-box button:after {content:'';display:block;width:11px;height:7px;position:absolute;top:50%;right:12px;background:url(/images/ico/ico-select-box.svg) no-repeat left top;transform:translateY(-50%);}
.select-box.tp2{display:inline-block;}
.select-box.tp2 button{border:none;background-color:#f2f2f2;padding:6px 12px;}

/* img cover */
.img-cover{position:relative;width:100%;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;height:100%;}
.img-cover img{object-fit:cover;width:100%;height:100%;}

/* button */
.btn-base{display:inline-block;text-align:center;vertical-align:middle;cursor:pointer;background-size:100%}
.btn-base[class*='bg-']{color:#fff;}
.btn-base a{display:block;width:100%;height:100%;line-height:inherit;}
.btn-base button{color:inherit;font-size:inherit;}
.btn-base.full{width:100%;height:56px;line-height:56px;font-size:16px;}
.btn-base.big{height:56px;line-height:56px;font-size:16px;}
.btn-base.mid{height:40px;line-height:40px;font-size:14px;}
.btn-base.sml{height:30px;line-height:30px;font-size:12px;}
.btn-base.line-white{border:solid 1px #fff;background-color:transparent;}
.btn-base.line-black{border:solid 1px #222;background-color:#fff;}
.btn-base.line-blue80{border:solid 1px #3f64c3;background-color:#fff;}
.btn-base.line-blue60{border:solid 1px #2d5fde;background-color:#fff;}
.btn-base.line-red60{border:solid 1px #c22d40;background-color:#fff;}
.btn-base.line-gray{border:solid 1px #e7e7e7;background-color:#fff;color:#777;}
.btn-base.line-darkgray{border:solid 1px #777;background-color:#fff;}
.btn-base.radius{border-radius:3px;}
.btn-base.shadow{box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.06);}
.btn-base.fixed{position:fixed;bottom:0;left:0px;}
/* step-btn */
.step-btn{position:relative;width:100%;display:block;}
.step-btn.right{text-align:right;}
.step-btn.center{text-align:center;}
.step-btn:after{content:'';display:block;clear:both;}
.step-btn .step-btn-c{position:absolute;left:50%;transform:translateX(-50%);}
.step-btn .step-btn-l{float:left;}
.step-btn .step-btn-r{float:right;}
.step-btn span.btn-base.big{margin-left:15px;}
.step-btn span.btn-base.sml{margin-left:10px;}
.step-btn span.btn-base:first-child{margin-left:0;}
.w-line{padding-top:40px;border-top:1px solid #e7e7e7;}

/* menu */
.menu-list{border-top:1px solid #aaa;overflow:hidden;}
.menu-list.no-tit{border-top:1px solid #e7e7e7;}
.menu-list > li{position:relative;border-bottom:1px solid #e7e7e7;background:#fff;}
.menu-list li dt a,.menu-list li dt > div{display:block;width:100%;height:100%}
.menu-list li dt a h4,
.menu-list li dt a h6,
.menu-list li dt > div h4{height:48px;position: relative;font-size:18px;line-height:48px;padding-left:8px;}
.menu-list li dt a h4:after,
.menu-list li dt a h6:after{content:'';position:absolute;top:50%;transform:translateY(-50%);right:15px;width:12px;height:6px;;background:url(/images/ico/ico-sel-arrow.png);background-size:100%;}
.menu-list li dt a.down h4:after,
.menu-list li dt a.down h6:after{transform-origin:top center;transform:translateY(-50%);transition:transform 0.3s;}
.menu-list li dt a.up h4:after,
.menu-list li dt a.up h6:after{transform-origin:top center;transform: rotate(180deg);-webkit-transform: rotate(180deg);transition:transform 0.3s;}
.menu-list li dd{transition:height 0.3s cubic-bezier(.2, 1, .3, 1);display:none;/*overflow:hidden*/}
.menu-list li dd.comp{height:auto !important}
.menu-list li dd.active{display:block !important;}
.menu-list li dd .hidden{display:none;}
.menu-list li dd .options p{height:48px;line-height:48px;padding-left:15px;}

/* m-menu */
.m-menu-list{width:100%;}
.m-menu-list > li{position:relative;font-size:14px;color:rgb(102, 89, 89);border-bottom:1px solid #f2f2f2;padding:13px 0;}
.m-menu-list li.arrow-none{background:none;}
.m-menu-list li > a{display:inline-block;width:100%;height:100%;background:url(/images/mobile/ico/ico-next-on.svg) no-repeat right top 8px;}
.m-menu-list li > a span{display:inline-block;width:25%;padding:8px 0;vertical-align:top;}
.m-menu-list li ul.select{display:inline-block;width:75%;text-align:right;padding-right:20px;}
.m-menu-list li ul.select li{display:inline-block;width:fit-content;color:#3f64c3;border:1px solid #3f64c3;border-radius:15px;padding:7px 32px 7px 16px ;margin-left:9px;margin-top:16px;background:url(/images/mobile/ico/ico-none.svg)no-repeat right 16px top 50%;background-size:8px;}
.m-menu-list li ul.select li:nth-child(-n+2){margin-top:0}
.m-menu-list li span.btn-wrap{display:block;margin-top:16px;}
.m-menu-list li span.search-wrap{display:block;margin-top:17px;}
.m-menu-list li span.search-wrap input{border-top-left-radius:3px;border-bottom-left-radius:3px;border-right:0;}
.m-menu-list li span.search-wrap .btn-base{width:calc(100% - 259px);border-top-right-radius:3px;border-bottom-right-radius:3px;}

/* input base */
.input-base{display:inline-block;position:relative;}
.input-base input{height:48px;padding:0 10px;border:1px solid #d7d7d7;transition:border .2s;-webkit-transition:border .2s;outline:none;color:#aaa;background-color:#fff;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.input-base input:disabled{color:#5e5e5e;background:#f6f7f8;}
.input-base.active input{border:1px solid #3f64c3;color:#222;}
.input-base.per{display:block;}

.input-base.tp2 input{font-size:16px;border:none;border-bottom:1px solid #3f64c3;padding:0;}
input::-webkit-input-placeholder{font-weight:normal;color:#aaa;}
input::-moz-placeholder{font-weight:normal;color:#aaa;}
input:-ms-input-placeholder{font-weight:normal;color:#aaa;}
input:-moz-placeholder{font-weight:normal;color:#aaa;}

/* textarea */
.textarea-wrap{position:relative;display:inline-block;width:100%;}
textarea{padding:8px 10px;width:100%;height:120px;border:1px solid #d7d7d7;}
textarea[disabled]{background-color:#f6f7f8;}
.textarea-wrap .text-counter.error span{color:red;}
.textarea-wrap .text-counter{font-size:12px;color:#373737;}
.textarea-tp1{width:100%;}
.textarea-tp1 + .text-counter{right:23px;bottom:13px;}

/* tag label */
[class*="tag-tp"]::before{content:'#';}
.tag-tp3:before{content:'';}
.tag-tp4:before{content:'';}
.tag-tp1{display:inline-block;text-align:center;font-size:14px;letter-spacing:-0.56px;border:1px solid #e7e7e7;border-radius:20px;background-color:#fff;padding:13px 20px;margin-right:10px;}
.tag-tp1:hover{opacity:0.8;}
.tag-tp2{display:inline-block;vertical-align:middle;font-size:12px;font-weight:500;letter-spacing:-0.48px;margin-right:7px;}
.tag-tp3{display:inline-block;width:28px;height:28px;font-size:12px;line-height:28px;letter-spacing:-0.48px;color:#fff;border-radius:100%;text-align:center;margin-right:4px;}
.tag-tp4{display:inline-block;width:40px;height:40px;font-size:16px;font-weight:500;line-height:40px;color:#fff;border-radius:100%;text-align:center;}
.tag-tp5{display:block;width:146px;height:31px;line-height:31px;font-size:14px;color:#09b699;background-image:url(/images/ico/ico-title-tag.svg);background-size:100% 100%;background-position:-4px;padding-left:16px;}
.tag-tp5:before{display:none;}
/* price label */
[class*="price-tp"]{color:#3f64c3;font-weight:500;}
[class*="price-tp"] .won{font-size:20px;font-weight:normal;letter-spacing:-0.8px;color:#777;margin-left:5px;}
.price-tp1{font-size:44px;letter-spacing:-1.76px;}
.price-tp2{font-size:28px;}
.price-tp3{font-size:28px;letter-spacing:-1.12px;}
.price-tp3 .won{font-size:14px;margin-left:4px;}
.price-tp4{font-size:20px;font-weight:normal;}
.price-tp4 .won{font-size:14px;margin:0;}
.price-tp4.tx-gray{color:#777;}
.price-tp5{font-size:32px;letter-spacing:-1.28px;color:#2d5fde;}
.price-tp5 .won{font-size:26px;letter-spacing:-0.4px;margin:0;}
.price-tp6{font-size:26px;}
.price-tp6 .price-label{font-size:14px;color:#222;margin-right:8px;}
.price-tp6 .won{font-size:14px;color:#222;margin-left:3px;}
.price-tp7{font-size:34px;}
.num-tx{font-size:16px;color:#222;font-weight:500;}
.num-tx .ea{font-size:24px;color:#3f64c3;font-weight:normal;}
/* option label */
[class^="option-tp"]{display:inline-block;}
.option-tp1{font-size:13px;letter-spacing:-0.52px;vertical-align:middle;color:#777;padding:8px 12px;border-radius:4px;background-color:#f6f7f8;}
.option-tp2{width:44px;height:24px;line-height:26px;font-size:11px;text-align:center;letter-spacing:-0.44px;color:#fff;opacity:0.9;}
.option-tp2.bg-red{opacity:0.9;}
.option-tp3-big{width:40px;height:40px;line-height:40px;font-size:12px;font-weight:500;letter-spacing:-0.48px;text-align:center;color:#fff;border-radius:100%;}
.option-tp3-sml{width:32px;height:32px;line-height:33px;font-size:12px;font-weight:500;letter-spacing:-0.48px;text-align:center;color:#fff;border-radius:100%;}
.option-tp4{width:80px;height:24px;line-height:24px;font-size:14px;font-weight:400;letter-spacing:-0.56px;text-align:center;color:#fff;border-radius:4px;}

/* search-filter */
.search-filter .tit{font-size:14px;color:#222;padding:20px 20px 0;}
.search-filter li .radio-basic{width:100%;}
.search-filter li .radio-basic input + label{padding-left:76px;}
.search-filter li .radio-basic .img{position:absolute;top:-5px;left:28px;display:block;width:40px;height:30px;background-color:gold;}
.search-filter li .radio-basic .num{float:right;line-height:20px;}
.search-filter li.except .radio-basic label{padding-left:28px;}

/* icon */
[class^="ico"]{display:inline-block;background-size:100%;transition:background .2s;-webkit-transition:background .2s;background-repeat:no-repeat;background-position:center;vertical-align:middle;}
[class^="btn"]{background-repeat:no-repeat;background-position:center;}
.ico-list{width:100%;height:auto;}
.ico-list:after{content:'';display:block;clear:both;}
.ico-list li{display:inline-block;width:50px;height:auto;margin:0 10px 10px 0;text-align:center;border-radius:4px;}
.ico-class{display:block;font-size:14px;text-align:center;margin-top:12px;}

/* medium icon */
.ico-sunroof{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-sunroof-off.svg);}
.ico-navigation{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-navigation-off.svg);}
.ico-ventilation-seat{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-windseat-off.svg);}
.ico-smartcruze{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-cruise-off.svg);}
.ico-smart-key{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-smart-key-off.svg);}
.ico-hud{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-hud-off.svg);}
.ico-around-view{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-around-off.svg);}
.ico-led{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-led-off.svg);}
.ico-hid{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-hid-off.svg);}
.ico-hipass{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-hipass-off.svg);}
.ico-back-camera{width:24px;height:22px;background-image:url(/images/mobile/ico/ico-back-camera-off.svg);}

li.on .ico-sunroof{background-image:url(/images/mobile/ico/ico-sunroof-on.svg);}
li.on .ico-navigation{background-image:url(/images/mobile/ico/ico-navigation-on.svg);}
li.on .ico-ventilation-seat{background-image:url(/images/mobile/ico/ico-windseat-on.svg);}
li.on .ico-smartcruze{background-image:url(/images/mobile/ico/ico-cruise-on.svg);}
li.on .ico-smart-key{background-image:url(/images/mobile/ico/ico-smart-key-on.svg);}
li.on .ico-hud{background-image:url(/images/mobile/ico/ico-hud-on.svg);}
li.on .ico-around-view{background-image:url(/images/mobile/ico/ico-around-on.svg);}
li.on .ico-led{background-image:url(/images/mobile/ico/ico-led-on.svg);}
li.on .ico-hid{background-image:url(/images/mobile/ico/ico-hid-on.svg);}
li.on .ico-hipass{background-image:url(/images/mobile/ico/ico-hipass-on.svg);}
li.on .ico-back-camera{background-image:url(/images/mobile/ico/ico-back-camera-on.svg);}


/* small icon */
.ico-prev{width:8px;height:12px;background-image:url(/images/mobile/ico/ico-prev.svg);}
.ico-next{width:8px;height:12px;background-image:url(/images/mobile/ico/ico-next.svg);transform:rotate(180deg);}
.ico-prev-on{width:8px;height:12px;background-image:url(/images/mobile/ico/ico-prev-on.svg);transform:rotate(180deg);}
.ico-next-on{width:8px;height:12px;background-image:url(/images/mobile/ico/ico-next-on.svg);}
.ico-app{width:24px;height:24px;background-image:url(/images/mobile/ico/ico-app.svg);}

.ico-heart{width:40px;height:35px;border-radius:100%;background-image:url(/images/mobile/ico/ico-heart.svg);background-size:initial;}
li.on .ico-heart{background-image:url(/images/mobile/ico/ico-heart-on.svg);}

/* app-down */
.app-down .btn-base{font-size:12px;margin-left:5px;}

/* tabmenu */
.tabmenu{position:relative;}
.tabmenu > .ui-tab {margin-bottom:16px;}
.tabmenu.is-tabmenu-fix > .ui-tab {position:fixed;z-index:4;top:57px;left:0px;width:100%;margin-bottom:0px;}
.tabmenu .ui-tab:after{content:'';display:block;clear:both;}
.tabmenu .ui-tab li{float:left;cursor:pointer}
.tabmenu.vertical .ui-tab{float:left;}
.tabmenu.vertical .ui-tab li{float:none;}

.ui-panel.non-active{height:0px;padding:0px !important;opacity:0;overflow:hidden;}
.ui-panel.active{opacity:1}
.ui-panel.v-scroll{opacity:1}

.tabmenu.tp1 > .ui-tab li{width:33.3%;height:40px;line-height:40px;font-size:14px;text-align:center;color:#777;border:1px solid #e7e7e7;border-right:none;box-sizing:border-box;background-color:#f6f7f8;}
.tabmenu.tp1 > .ui-tab li:hover{background-color:#3f64c3;border:0;color:#fff;}
.tabmenu.tp1 > .ui-tab li:last-child{border-right:1px solid #e7e7e7;}
.tabmenu.tp1 > .ui-tab li.on{color:#fff;border:none;background-color:#3f64c3;}
.tabmenu.tp1 > .ui-tab li a{display:inline-block;width:100%;height:100%;letter-spacing:-0.72px;cursor:pointer;}
.tabmenu.tp1.is-tabmenu-fix > .ui-panel{padding-top:58px}

.tabmenu.tp2 > .ui-tab li{width:33.3%;height:50px;line-height:50px;text-align:center;color:#777;border-bottom:1px solid #e7e7e7;background-color:#fff;}
.tabmenu.tp2 > .ui-tab li:hover{color:#222;border-bottom:2px solid #3f64c3;}
.tabmenu.tp2 > .ui-tab li.on{color:#222;border-bottom:2px solid #3f64c3;}
.tabmenu.tp2 > .ui-tab li a{display:inline-block;width:100%;height:100%;font-size:14px;cursor:pointer;}
.tabmenu.tp2.is-tabmenu-fix > .ui-panel{padding-top:70px}

.tabmenu .ui-tab.col-4{width:1200px;margin:0 auto;}
.tabmenu .ui-tab.col-1 li{width:100%;}
.tabmenu .ui-tab.col-2 li{width:50%;}
.tabmenu .ui-tab.col-3 li{width:33.333%;}
.tabmenu .ui-tab.col-4 li{width:25%;font-size:21px;}
.tabmenu .ui-tab.col-5 li{width:20%;}

.tabmenu.tp3{height:186px;}
.tabmenu.tp3 .ui-tab{float:left;width:204px;height:186px;}
.tabmenu.tp3 .ui-tab li{width:204px;height:93px;line-height:93px;font-size:16px;color:#777;border:1px solid #d7d7d7;background:#f6f7f8;padding-left:35px;}
.tabmenu.tp3 .ui-tab li:hover{opacity:80%;}
.tabmenu.tp3 .ui-tab li.on{color:#222;border-left:3px solid #3f64c3;border-right:0;background:#fff;}
.tabmenu.tp3 .ui-tab li.on:first-child{border-bottom:0;}
.tabmenu.tp3 .ui-tab li.on:last-child{border-top:0;}
.tabmenu.tp3 .ui-tab li a{display:inline-block;width:100%;height:100%;cursor:pointer;}
.tabmenu.tp3 .ui-panel{float:left;width:calc(100% - 204px);height:186px;border:1px solid #d7d7d7;border-left:0;}
.tabmenu.tp3 .ui-panel.active{background:#fff;}

.tabmenu.tp4{height:184px;}
.tabmenu.tp4 .ui-tab{width:264px;height:184px;}
.tabmenu.tp4 .ui-tab li{width:264px;height:61.5px;line-height:59px;font-size:16px;color:#777;border:1px solid #d7d7d7;background:#f6f7f8;padding-left:31px;}
.tabmenu.tp4 .ui-tab li:hover{opacity:80%;}
.tabmenu.tp4 .ui-tab li.on{color:#222;border-left:3px solid #3f64c3;border-right:0;background:#fff;}
.tabmenu.tp4 .ui-tab li:nth-child(2){border-top:0;border-bottom:0;}
.tabmenu.tp4 .ui-tab li a{display:inline-block;width:100%;height:100%;cursor:pointer;}
.tabmenu.tp4 .ui-panel{float:left;width:calc(100% - 264px);height:185px;border:1px solid #d7d7d7;border-left:0;}
.tabmenu.tp4 .ui-panel.active{background:#fff;}

.tabmenu.tp5 > .ui-tab li{width:16.66%;height:50px;line-height:50px;text-align:center;color:#222;border:none;border-bottom:1px solid #3f64c3;background-color:#f6f7f8;}
.tabmenu.tp5 > .ui-tab li:last-child{border-right:none;}
.tabmenu.tp5 > .ui-tab li:hover{color:#222;border-bottom:1px solid #3f64c3;background-color:#f6f7f8;opacity:80%;}
.tabmenu.tp5 > .ui-tab li.on{line-height:49px;color:#222;border:1px solid #3f64c3;border-bottom:none;background-color:#fff;}
.tabmenu.tp5 > .ui-tab li a{display:inline-block;width:100%;height:100%;font-size:17px;cursor:pointer;}

.tabmenu.tp6 .ui-tab{border-bottom:1px solid #3f64c3;background-color:#f6f7f8;}
.tabmenu.tp6 .ui-tab li{position:relative;top:1px;width:160px;height:50px;line-height:50px;text-align:center;color:#222;border:none;border-bottom:1px solid #3f64c3;background-color:#f6f7f8;}
.tabmenu.tp6 .ui-tab li:last-child{border-right:none;}
.tabmenu.tp6 .ui-tab li:hover{color:#222;border-bottom:1px solid #3f64c3;background-color:#f6f7f8;opacity:1;}
.tabmenu.tp6 .ui-tab li.on{line-height:49px;color:#222;border:1px solid #3f64c3;border-bottom:none !important;background-color:#fff;}
.tabmenu.tp6 .ui-tab li a{display:inline-block;width:100%;height:100%;font-size:17px;cursor:pointer;}

.tabmenu.tp7 .ui-tab{border-bottom:1px solid #aaa;}
.tabmenu.tp7 .ui-tab li{position:relative;top:1px;width:160px;height:49px;line-height:49px;text-align:center;color:#777;border:1px solid #e7e7e7;border-bottom:1px solid #aaa;border-left:none;background-color:#fff;}
.tabmenu.tp7 .ui-tab li:first-child{border-left:1px solid #e7e7e7;}
.tabmenu.tp7 .ui-tab li:last-child{border-right:1px solid #e7e7e7;}
.tabmenu.tp7 .ui-tab li:hover{color:#222;border:1px solid #e7e7e7;border-bottom:1px solid #aaa;border-left:none;background-color:transparent;}
.tabmenu.tp7 .ui-tab li:first-child:hover{border-left:1px solid #e7e7e7;}
.tabmenu.tp7 .ui-tab li.on{left:-0.5px;color:#222;border:1px solid #aaa;border-bottom:none;background-color:#fff;}
.tabmenu.tp7 .ui-tab li.on:first-child{left:0;}
.tabmenu.tp7 .ui-tab li.on:first-child:hover{border-left:1px solid #aaa;}
.tabmenu.tp7 .ui-tab li a{display:inline-block;width:100%;height:100%;font-size:17px;cursor:pointer;}

.tabmenu.tp8{overflow:hidden;}
.tabmenu.tp8 .ui-tab{float:right;width:68px;height:36px;margin:0px 20px 20px 0px;}
.tabmenu.tp8 .ui-tab li{width:34px;height:36px;border:1px solid #d7d7d7;background-repeat:no-repeat;background-position:center;}
.tabmenu.tp8 .ui-tab li:first-child{background-image:url(../images/ico/ico-thumb-off.png);}
.tabmenu.tp8 .ui-tab li:last-child{background-image:url(../images/ico/ico-list-off.png);}
.tabmenu.tp8 .ui-tab li.on{border:1px solid #777;}
.tabmenu.tp8 .ui-tab li:first-child.on{background-image:url(../images/ico/ico-thumb-on.png);}
.tabmenu.tp8 .ui-tab li:last-child.on{background-image:url(../images/ico/ico-list-on.png);}
.tabmenu.tp8 .ui-tab li a{display:inline-block;width:100%;height:100%;cursor:pointer;}
.tabmenu.tp8 .ui-panel{width:100%;overflow:hidden;}

.tabmenu.tp9 .ui-tab li{height:40px;line-height:38px;font-size:14px;color:#979797;border:1px solid #979797;border-radius:20px;padding:0 12px;margin-right:8px;}
.tabmenu.tp9 .ui-tab li:last-child{margin:0;}
.tabmenu.tp9 li.on{border:1px solid #3f64c3;color:#3f64c3;}
.tabmenu.tp9 .ui-panel .prepare-img-list > li{border:0;border-radius:0;padding:0;margin-top:24px;}

.tabmenu [class^="tabcont"]{width:100%;padding:80px 0;text-align:center;}
.tabmenu .tab-title{font-size:28px;font-weight:300;letter-spacing:-1.12px;color:#222;}
.tabmenu .tabcont2{background:#f6f7f8;}
.tabmenu .tabcont4{background:#f6f7f8;}

/* list-wrap */
.list-wrap h3 {padding:0px 3%;margin-bottom:16px;font-size:18pxx;font-weight:bold;}

/* goods list */
.list-slick{overflow:hidden;}
ul.goods-list{width:100%;margin:0 auto;}
ul.goods-list:after{content:'';display:block;clear:both;}
ul.goods-list .slick-list{position:relative;}
ul.goods-list .slick-slide{transition:opacity .5s ease, transform .5s ease;opacity:.6;transform:scale(.95);}
ul.goods-list .slick-slide.slick-active{opacity:1;transform:scale(1);}
ul.goods-list li{float:left;}
ul.goods-list .slick-slide li{float:none;}
ul.goods-list li > span{display:block;position:relative;border:1px solid #e7e7e7;box-sizing:border-box;background:#fff;/*-webkit-transition:all 0.2s;transition:all 0.2s;*/cursor:pointer;}
ul.goods-list li > span .photo {position:relative;width:100%;height:180px;background-size:cover;background-repeat:no-repeat;background-position:50% 50%;}
ul.goods-list li > span .photo img{object-fit:cover;width:100%;height:100%;}
ul.goods-list li > span .price-opt{position:absolute;left:0;top:0;}
ul.goods-list li > span .summary {position:relative;height:auto;color:#222;padding:16px 24px;box-sizing:border-box;}
ul.goods-list li > span .summary .list-tag1{position:absolute;top:-14px;}
ul.goods-list li > span .summary .list-tag2{display:inline-block;margin-bottom:16px;vertical-align:middle;}
ul.goods-list li > span .subject{height:46px;font-size:24px;font-weight:normal;line-height:24px;letter-spacing:-0.8px;color:#222;text-align:left;overflow:hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp:2;-webkit-box-orient: vertical;word-wrap:break-word;}
ul.goods-list li > span .info-wrap {width:100%;margin-top:14px;}
ul.goods-list li > span .info {height:15px;letter-spacing:-0.56px;}
ul.goods-list li > span .info span {display:inline-block;font-size:14px;color:#777;}
ul.goods-list li > span .info span::after{content:'|';color:#ddd;padding:0 6px;box-sizing:border-box;}
ul.goods-list li > span .info span:last-child::after{content:'';}
ul.goods-list li > span .scrap-wrap {position:absolute;top:8px;right:8px;overflow:hidden;}
ul.goods-list li > span .scrap-wrap span em {position:absolute;top:-9999px;left:-9999px;}
ul.goods-list li > span .price-wrap {height:32px;margin-top:12px;}
ul.goods-list li > span .price-wrap:after{content:'';display:block;clear:both;}
ul.goods-list li > span .price-left{float:left;}
ul.goods-list li > span .price-left .price-tp2{height:28px;line-height:32px;}
ul.goods-list li > span .price-left .option-tp1{margin-right:4px;}
ul.goods-list li > span .price-right{float:right;}
ul.goods-list li > span .price-right [class*="btn-circle"]{display:table-cell;height:72px;line-height:16px;vertical-align:middle;}

ul.goods-list li > span .w-dots{padding-bottom:48px;}
ul.goods-list li > span .slick-dots{position:static;text-align:center;font-size:0;}
ul.goods-list li > span .slick-dots .dots{display:inline-block;}
ul.goods-list li > span .slick-dots .dots li{border:0;background:none;width:auto;height:auto;float:none;margin:0 4px;}
ul.goods-list li > span .slick-dots .dots li button{width:10px;height:10px;background:#aaa;padding:0;opacity:.4;border-radius:4px;transition:opacity .3s, background .3s;}
ul.goods-list li > span .slick-dots .dots li button:before{display:none;}
ul.goods-list li > span .slick-dots .dots li.slick-active button{background:#2d5fde;opacity:1;}
ul.goods-list li > span .slick-dots .btn-play,
ul.goods-list li > span .slick-dots .btn-pause{display:inline-block;width:7px;height:8px;font-size:0;text-indent:-20000px;margin-left:6px;}
ul.goods-list li > span .slick-dots .btn-play{background:url(/images/ico/ico-play.svg) 0 0 no-repeat;background:gold;}
ul.goods-list li > span .slick-dots .btn-pause{background:url(/images/ico/ico-pause.svg) 0 0 no-repeat;}

/* none slide goods list - thumbnail  */
ul.goods-list.none-slide-thumbnail {padding:0px 15px 10px;}
ul.goods-list.none-slide-thumbnail li {float:left;width:50%;margin-bottom:10px;}
ul.goods-list.none-slide-thumbnail li > span {margin:0px 5px;}
ul.goods-list.none-slide-thumbnail li > span .img-cover-wrap{height:29vw;}
ul.goods-list.none-slide-thumbnail li > span .img-cover-wrap .scrap-wrap {top:2px;right:0px;}
ul.goods-list.none-slide-thumbnail li > span .summary {padding:12px;}
ul.goods-list.none-slide-thumbnail li > span .summary .list-tag2 {margin-bottom:5px;}
ul.goods-list.none-slide-thumbnail li > span .summary .subject {height:30px;font-size:14px;line-height:110%;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap {margin-top:6px;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap .info span {font-size:11px;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap .info span::after {padding:0px 2px;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap .price-wrap {height:22px;margin-top:18px;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap .price-wrap .price-tp2 {height:22px;line-height:24px;font-size:22px;}
ul.goods-list.none-slide-thumbnail li > span .summary .info-wrap .price-wrap .price-tp2 span.won {font-size:14px;}

/* none slide goods list - list  */
ul.goods-list.none-slide-list {padding:0px 20px 10px;}
ul.goods-list.none-slide-list li {float:none;width:auto;margin-bottom:10px;}
ul.goods-list.none-slide-list li:last-child{margin-bottom:0;}
ul.goods-list.none-slide-list li > span {position:relative;height:146px;padding-left:138px;}
ul.goods-list.none-slide-list li > span .img-cover-wrap {position:absolute;left:0px;top:0px;width:138px;height:144px;overflow:hidden;}
ul.goods-list.none-slide-list li > span .img-cover-wrap .scrap-wrap {top:2px;right:0px;}
ul.goods-list.none-slide-list li > span .summary {position:static;padding:14px 12px;}
ul.goods-list.none-slide-list li > span .summary .list-tag2{margin-bottom:6px;}
ul.goods-list.none-slide-list li > span .summary .subject {height:42px;font-size:16px;line-height:18px;}
ul.goods-list.none-slide-list li > span .summary .info-wrap {margin-top:4px;}
ul.goods-list.none-slide-list li > span .summary .info-wrap .info span {font-size:11px;}
ul.goods-list.none-slide-list li > span .summary .info-wrap .info span:after {padding:0px 3px;}
ul.goods-list.none-slide-list li > span .summary .price-wrap {margin-top:6px;height:24px;}
ul.goods-list.none-slide-list li > span .summary .price-wrap .price-left .price-tp2 {font-size:22px;}
ul.goods-list.none-slide-list li > span .summary .price-wrap .price-left .price-tp2 span.won {font-size:14px;}

/* 시세 그래프 (marketPrice & pricingSystem) */
.market-price-graph{width:100%;}

/* write-form */
fieldset.write-form {overflow:hidden;margin:0px -4px 12px;}
fieldset.write-form legend {text-indent:-9999px;overflow:hidden;height:2px;margin-top:-14px;}
fieldset.write-form .field-group {float:left;width:100%;padding:0px 4px;margin-top:12px;}
fieldset.write-form.col2 .field-group {width:50%;}
fieldset.write-form legend + .field-group,
fieldset.write-form.col2 legend + .field-group + .field-group {margin-top:0px;}
fieldset.write-form .field-group .category {margin-bottom:9px;font-size:14px;}
fieldset.write-form .field-group .field p.text-counter {margin-top:8px;font-size:12px;color:#777777;text-align:right;}

/* table */
[class^="table-tp"].th-c th,
[class^="table-tp"].td-c td{text-align:center;}
[class^="table-tp"].td-r td{text-align:right;}
[class^="table-tp"].th-l th{text-align:left;}
[class^="table-tp"].input.td-c td{text-align:center;}
[class^="table-tp"].input.td-r td{text-align:right;}
[class^="table-tp"].td-c td.tl{text-align:left;}
[class^="table-tp"] th.ver-t{vertical-align:top;}

[class^="table-tp"]{width:100%;line-height:1.3;text-align:left;border:1px solid #e7e7e7;}
[class^="table-tp"] caption{font-size:16px;font-weight:500;line-height:16px;text-align:left;color:#222;margin-bottom:16px;}
[class^="table-tp"] caption.sml{font-size:21px;margin-bottom:25px;}
[class^="table-tp"] caption.sml span{display:inline-block;font-size:16px;color:#5e5e5e;margin-left:8px;}
[class^="table-tp"] caption.xs{font-size:16px;margin-bottom:10px;}
[class^="table-tp"] > thead > tr{border-bottom:1px solid #e7e7e7;}
[class^="table-tp"] > thead > tr > th{height:48px;line-height:1;font-size:14px;font-weight:normal;color:#222;letter-spacing:-0.56px;border-right:1px solid #e7e7e7;background-color:#f6f7f8;padding:16px 12px;}
[class^="table-tp"] > thead > tr > th:last-child{border-right:0;}
[class^="table-tp"] > tbody > tr{border-bottom:1px solid #e7e7e7;}
[class^="table-tp"] > tbody > tr > th{height:39px;padding:8px 12px;font-size:14px;font-weight:normal;color:#222;letter-spacing:-0.56px;border-right:1px solid #e7e7e7;background-color:#f6f7f8;transition:background .3s;}
[class^="table-tp"] > tbody > tr > th:last-child{border-right:0;}
[class^="table-tp"] > tbody > tr > th.tx-red{color:#ff0000;}
[class^="table-tp"] > tbody > tr > th em{color:#aaa;margin-left:2px;}
[class^="table-tp"] > tbody > tr > th span.essential{color:#3f64c3;}
[class^="table-tp"] > tbody > tr > th p.criteria {font-size:12px;color:#777777;}
[class^="table-tp"] > tbody > tr > td{height:39px;padding:3px 12px;line-height:1.5;font-size:14px;color:#5e5e5e;word-break:break-all;border-right:1px solid #e7e7e7;background-color:#fff;}
[class^="table-tp"] > tbody > tr > td:last-child{border-right:0;}
[class^="table-tp"] > tbody > tr > td.tx-l{text-align:left;}
[class^="table-tp"] > tbody > tr > td em{display:inline-block;vertical-align:middle;margin-left:8px;}
[class^="table-tp"] > tbody > tr > td em.mr8{margin-left:0;}
[class^="table-tp"] > tbody > tr > td em.mr16{margin-left:0;}
[class^="table-tp"] > tbody > tr > td .t-underline{text-decoration:underline;}
[class^="table-tp"] > tbody > tr > td .opts{font-size:14px;color:#5e5e5e;}
[class^="table-tp"] > tbody > tr > td .opts span{margin:0 5px;font-size:11px;color:#aaa;vertical-align:middle;}
[class^="table-tp"].input > thead > tr > th{height:56px;}
[class^="table-tp"].input > tbody > tr > td{height:56px;letter-spacing:normal;color:#5e5e5e;}
[class^="table-tp"].isLoading > tbody > tr > td{position:relative;}
[class^="table-tp"].isLoading > tbody > tr > td:after{content:'';position:absolute;left:0;top:0;display:block;width:100%;height:100%;background:#fff;opacity:.85;}
[class^="table-tp"].isLoading > tbody > tr > td:hover{cursor:default;text-decoration:none;}

[class^="table-tp"].search{border-collapse:separate;padding:3% 1%;}
[class^="table-tp"].search > tbody > tr{border:0;}
[class^="table-tp"].search > tbody > tr > th{height:auto;background:none;border-right:0;font-weight:600;padding:1.5%;padding-right:0;padding-left:12px;}
[class^="table-tp"].search > tbody > tr > td{height:auto;border:0;}
[class^="table-tp"].search > tbody > tr > td > span.title{display:inline-block;font-weight:600;color:#222;padding:0 1.5% 0 2%;}
[class^="table-tp"].search > tbody > tr > td > .wrap > span.title{display:inline-block;font-weight:600;color:#222;padding:0 1.5% 0 2%;}
[class^="table-tp"].search .btn-base.on{background:#f6f7f8;}

[class^="table-tp"] tbody tr.fixed td{background:#f6f7f8;}
[class^="table-tp"] th em{color:#aaa;}
[class^="table-tp"] td.td-btn-fr{position:relative;text-align:left;}
[class^="table-tp"] td.td-btn-fr > .tx{position:absolute;top:50%;transform:translateY(-50%);}
[class^="table-tp"] td.td-btn-fr > .btn-base{float:right;}
[class^="table-tp"] td .items-sbox-label{display:block;margin:2px 0 6px 0;}
[class^="table-tp"] td.chk-w-wrap .chk-box{margin-right:5px;}
[class^="table-tp"] td.chk-y-wrap .chk-box{display:block;margin-bottom:17px;}
[class^="table-tp"] td.chk-y-wrap .chk-box:last-child{margin:0;}
[class^="table-tp"] .bridge{display:inline-block;margin-right:16px;position:relative;}
[class^="table-tp"] .bridge2{display:inline-block;margin-bottom:8px;}
[class^="table-tp"] .bridge2:last-child{margin-bottom:0;}
[class^="table-tp"] .bridge2.gas > span:first-child{display:inline-block;width:100px;}
[class^="table-tp"] .tooltip-wrap{top:0;left:8px;}
[class^="table-tp"] .bridge.w-price .input-base input{text-align:right;color:#3f64c3;font-weight:500;}
[class^="table-tp"] .bridge .unit{position:absolute;top:12px;display:inline-block;}
[class^="table-tp"] .bridge .unit-s{left:20px;}
[class^="table-tp"] .bridge .unit-e{right:20px;}
[class^="table-tp"] .bridge2 .tip{display:inline-block;vertical-align:top;}
[class^="table-tp"] td.address .input-base{margin-right:8px;}
[class^="table-tp"] td.address .customize .input-base{margin-right:0;}
[class^="table-tp"] td .full-radio-group {padding:0px;}
[class^="table-tp"] td .full-radio-group span.radio-basic {position:relative;border-radius:3px;border:1px solid #E7E7E7;text-align:center;}
[class^="table-tp"] td .full-radio-group.col2 {margin:0px -1%;}
[class^="table-tp"] td .full-radio-group.col2 span.radio-basic {width:48%;margin:0px 1%}
[class^="table-tp"] td .full-radio-group span.radio-basic.on {border-color:#3f64c3;background-color:#3f64c3;}
[class^="table-tp"] td .full-radio-group span.radio-basic input + label {text-align:center;padding-left:0px;letter-spacing:-1px;font-size:12px;line-height:1;width:100%;height:30px;padding:9px 0px 8px;}
[class^="table-tp"] td .full-radio-group span.radio-basic input + label::before {display:none;}
[class^="table-tp"] td .full-radio-group span.radio-basic.on input + label {color:white;}
[class^="table-tp"] td .full-radio-group span.radio-basic.on input + label::after {display:none;}

/* search-none */
.search-none{text-align:center;padding:25px 24px 24px;margin-bottom:35px;background-color:#f6f7f8;}
.search-none h3{font-size:16px;letter-spacing:-0.68px;color:#222;margin-bottom:15px;}
.search-none p{font-size:14px;line-height:145%;margin-top:8px;font-size:14px;color:#777777;}
.search-none p.tx-disabled{line-height:1;font-size:12px;}


/* desc-list */
ul.desc-list{margin-top:12px;font-size:12px;color:#777777;}
ul.desc-list li{position:relative;margin-top:6px;padding-left:14px;line-height:140%;}
ul.desc-list li:first-child{margin-top:0px;}
ul.desc-list li:before{content:'※';position:absolute;top:0px;left:0px;}

/* bottom-slide-area */
.bottom-slide-area{position:fixed;z-index:99;bottom:0px;left:0px;width:100%;border-radius:8px 8px 0px 0px;box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);padding-top:2px;background-color:white;transform:translateY(100%);transition:transform .3s ease;}
.bottom-slide-area.active{transform:translateY(0);}
.bottom-slide-area.fixed{transform:translateY(0) !important;}
.bottom-slide-area .inner{padding:20px;}
.bottom-slide-area .inner .tit{font-size:18px;font-weight:500;line-height:1.4;color:#000;}

/* bottom-write-area */
.bottom-write-area em{display: inline-block;font-size:16px;vertical-align:middle;}
.bottom-write-area .select-box.tp2{margin-right:13px;}
.bottom-write-area .btn-base.fr{height:32px;font-size:16px;line-height:32px;}


/* checkbox */
.chk-box{position:relative;display:inline-block;}
.chk-box input[id*="chk"]{display:none;}
.chk-box input + label{position:relative;display:inline-block;height:20px;font-size:14px;color:#5e5e5e;letter-spacing:-0.56px;padding-left:28px;line-height:20px;cursor:pointer;}
.chk-box input + label em{color:#aaa;}
.chk-box.on input + label{color:#222;}
.chk-box input + label::before{position:absolute;left:0;top:0;content:'';display:block;width:20px;height:20px;background-repeat:no-repeat;background-position:center;}
.chk-box.on input + label::before{background-repeat:no-repeat;background-position:center;}
.chk-box.chk-basic input + label::before{background-color:#fff;border:1px solid #d7d7d7;}
.chk-box.sml input + label{height:14px;font-size:12px;padding-left:22px;line-height:14px;}
.chk-box.sml input + label::before{width:14px;height:14px;}
.chk-box.noborder input + label::before{border:0;background-image:url(/images/mobile/ico/ico-check-no-dis.svg);}
/* chk-disabled */
.chk-box.disabled input + label::before{background-repeat:no-repeat;background-position:center;background-color:#f6f7f8;background-image:url(/images/mobile/ico/ico-check-dis.svg);}
.chk-box.disabled.noborder input + label::before{background-color:#fff;}
.chk-box.sml.disabled input + label::before{background-color:#f6f7f8;background-image:url(/images/mobile/ico/ico-check-sml-dis.svg);}
.chk-box.chk-basic.noborder.disabled input + label::before{background-image:url(/images/mobile/ico/ico-check-no-dis.svg);}
/* chk-on-color */
.chk-box.chk-basic.on input + label::before{background-image:url(/images/mobile/ico/ico-check-blue-on.svg);}
.chk-box.sml.on input + label::before{background-image:url(/images/mobile/ico/ico-check-blue-sml-on.svg);}
.chk-box.noborder.on input + label::before{background-image:url(/images/mobile/ico/ico-check-on.svg);}
/* chk-list */
.chk-list{width:100%;}
.chk-list:after{content:'';display:block;clear:both;}
.chk-list li{float:left;margin-right:12px;}
.chk-list li:last-child{margin-right:0;}
/* color list */
.color-list{width:100%;}
.color-list:after{content:'';display:block;clear:both;}
.color-list li{float:left;width:61px;margin:16px 7px 0 0;}
.color-list li:nth-child(-n + 5){margin-top:0;}
.color-list li:nth-child(5n){margin-right:0;}
.color-list li .chk-box input + label{width:61px;height:40px;padding:0;}
.color-list li .chk-box input + label::before{width:61px;height:40px;border-radius:3px;}
.color-list li .chk-box.basic{height:61px;}
.color-list li .chk-box.basic input + label{width:61px;height:61px;}
.color-list li .chk-box.basic input + label:before{height:61px;}
.color-list li .chk-box.basic [class^="bg-"]{height:61px;}
.color-list li .chk-box input + label span.title{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;width:fit-content;color:#222;}
.color-list li .chk-box.chk-white input + label span.title{color:#fff;}
.color-list li .chk-box.on input + label::before{background-image:unset;}
.color-list li .chk-box.on input + label:after{position:absolute;top:-5px;right:-5px;content:'';display:block;width:16px;height:16px;background-image: url(/images/mobile/ico/ico-check-circle.svg)}
/* chip-color */
.chk-box.chip-pearl input + label:before{background-color:#f8f7e2;border:0}
.chk-box.chip-black input + label:before{background-color:#000;border:0}
.chk-box.chip-gray input + label:before{background-color:#616161;border:0}
.chk-box.chip-silver input + label:before{background-color:#e5e5e5;border:0}
.chk-box.chip-silvergray input + label:before{background-color:#bcbcbc;border:0}
.chk-box.chip-galactic input + label:before{background-color:#a6b2b0;border:0}
.chk-box.chip-lightsilver input + label:before{background-color:#d0d9e7;border:0}
.chk-box.chip-red input + label:before{background-color:#cc001f;border:0}
.chk-box.chip-orange input + label:before{background-color:#fb7902;border:0}
.chk-box.chip-wine input + label:before{background-color:#7d265b;border:0}
.chk-box.chip-purple input + label:before{background-color:#640780;border:0}
.chk-box.chip-pink input + label:before{background-color:#fdc3d8;border:0}
.chk-box.chip-yellow input + label:before{background-color:#fff845;border:0}
.chk-box.chip-reed input + label:before{background-color:#808174;border:0}
.chk-box.chip-lightgold input + label:before{background-color:#8e8574;border:0}
.chk-box.chip-brown input + label:before{background-color:#685a36;border:0}
.chk-box.chip-gold input + label:before{background-color:#827438;border:0}
.chk-box.chip-blue input + label:before{background-color:#12427f;border:0}
.chk-box.chip-sky input + label:before{background-color:#75919c;border:0}
.chk-box.chip-palegreen input + label:before{background-color:#1e444b;border:0}
.chk-box.chip-green input + label:before{background-color:#2ecd00;border:0}
.chk-box.chip-lightgreen input + label:before{background-color:#9ab95c;border:0}
.chk-box.chip-bluegreen input + label:before{background-color:#1f7d7c;border:0}
/* chip-color2 */
.chk-box.chk-color2 i{position:absolute;display:inline-block;width:30.5px;height:40px;}
.chk-box.chk-color2 .bg-l{border-top-left-radius:3px;border-bottom-left-radius:3px;}
.chk-box.chk-color2 .bg-r{border-top-right-radius:3px;border-bottom-right-radius:3px;}
.chip-black2 .bg-l{left:0;background-color:#616161;}
.chip-black2 .bg-r{left:30.5px;background-color:#000;}
.chip-silver2 .bg-l{left:0;background-color:#bcbcbc;}
.chip-silver2 .bg-r{left:30.5px;background-color:#464741;}
.chip-white2 .bg-l{left:0;background-color:#fff;border:1px solid #d7d7d7;border-right:0;}
.chip-white2 .bg-r{left:30.5px;background-color:#d7d7d7;}
.chip-pearl2 .bg-l{left:0;background-color:#f8f7e2;border:1px solid #d7d7d7;border-right:0;}
.chip-pearl2 .bg-r{left:30.5px;background-color:#ddddc9;border:1px solid #d7d7d7;border-left:0;}
.chip-brown2 .bg-l{left:0;background-color:#685a36;}
.chip-brown2 .bg-r{left:30.5px;background-color:#464741;}
.chip-gold2 .bg-l{left:0;background-color:#827438;}
.chip-gold2 .bg-r{left:30.5px;background-color:#464741;}

/* check-select-list */
ul.check-select-list{width:100%;padding:0;}
ul.check-select-list li{position:relative;width:100%;height:48px;line-height:48px;border:1px solid #e7e7e7;border-radius:3px;margin-top:8px;padding-left:16px;}
ul.check-select-list li:before{position:absolute;right:13px;top:50%;content:'';display:block;width:8px;height:13.5px;background:url(/images/mobile/common/btn-h-back.svg) no-repeat;background-size:8px 13px;transform:translateY(-50%)rotate(180deg);}
ul.check-select-list li:first-child{margin-top:0;}
ul.check-select-list li .chk-box{position:relative;top:-1px;width:100%;}
ul.check-select-list li .chk-box input + label{width:100%;}
.check-list-wrap .float-wrap{width:100%;height:56px;line-height:56px;margin-top:16px;}

/* radio */
.radio-basic{position:relative;display:inline-block;}
.radio-basic input{display:none;}
.radio-basic input + label{position:relative;display:inline-block;font-size:14px;color:#5e5e5e;letter-spacing:-0.56px;padding-left:28px;height:20px;line-height:20px;cursor:pointer;}
.radio-basic input + label::before{position:absolute;left:0;top:50%;transform:translateY(-50%);content:'';display:block;width:20px;height:20px;background-color:#fff;border-radius:100%;border:1px solid #d7d7d7;}
.radio-basic.on input + label{color:#222;}
.radio-basic.on input + label::after{position:absolute;left:5px;top:5px;content:'';display:block;width:10px;height:10px;border-radius:100%;background:#3b8af7;}
.radio-basic.sml input + label{padding-left:22px;}
.radio-basic.sml input + label::before{width:14px;height:14px;}
.radio-basic.sml input + label::after{top:50%;left:4px;transform:translateY(-50%);width:6px;height:6px;}
.radio-basic.simple{width:20px;height:20px;vertical-align:middle;}
.radio-basic.simple input + label{padding-left:0;width:20px;}
.radio-basic.simple.checkbox input + label::before{border-radius:0;}
.radio-basic.simple.checkbox input + label::after{background:url(/images/ico/ico-check-blue-on.png) no-repeat center;}
.radio-basic.simple[class*='state-'] input + label{left:-2px;}
.radio-basic.simple[class*='state-'] input + label::before{width:24px;height:24px;border:none;}
.radio-basic.simple[class*='state-'] input + label::after{top:-2px;left:0;width:24px;height:24px;border:none;}
.radio-basic.simple.state-x input + label::before{background:url(/images/ico/ico-exchange.png);}
.radio-basic.simple.state-w input + label::before{background:url(/images/ico/ico-welding.png);}
.radio-basic.simple.state-c input + label::before{background:url(/images/ico/ico-scratch.png);}
.radio-basic.simple.state-x input + label::after{background:url(/images/ico/ico-exchange-on.png);}
.radio-basic.simple.state-w input + label::after{background:url(/images/ico/ico-welding-on.png);}
.radio-basic.simple.state-c input + label::after{background:url(/images/ico/ico-scratch-on.png);}
.radio-group .vertical{padding:0 20px;}
.radio-group .vertical li{padding:18px 0;border-top:1px solid #f2f2f2;}
.radio-group .vertical li:first-child{border-top:0;}
.radio-basic.txt input + label{width:100%;height:100%;padding:14px 12px 14px 0;}
.radio-basic.txt input + label::before,
.radio-basic.txt input + label::after{display:none;}
.radio-basic.txt.on input + label{background:#3f64c3;}
/* radio-disabled */
.radio-basic.on.disabled input + label{color:#5e5e5e;}
.radio-basic.disabled input + label::before{background:#f6f7f8;}
.radio-basic.disabled input + label::after{background:#d7d7d7;}
.radio-basic.sml.disabled input + label::before{width:14px;height:14px;}
.radio-basic.sml.disabled input + label::after{width:6px;height:6px;}
/* radio-checkbox trick */
.radio-group.chk .radio-basic{margin-left:24px;}
.radio-group.chk .radio-basic:first-child{margin-left:0;}
.radio-group.chk .radio-basic input + label:before{border-radius:0;}
.radio-group.chk .radio-basic.on input + label::after{background:url(/images/mobile/ico/ico-check-blue-on.svg) no-repeat center;}

/* app-down */
.app-down .btn-base{font-size:12px;margin-left:5px;}

/* faq */
.faq-tit:after{content:'';display:block;clear:both;}
.faq-tit > h4{float:left;height:30px;font-size:16px;font-weight:bold;line-height:30px;}
.faq-tit > .btn-base{float:right;}
.faq-tit > .info{clear:left;font-size:12px;color:#5e5e5e;padding-top:5px;}
.faq-list .menu-list{border-top:none;}
.faq-list .menu-list li{padding:20px 0;}
.faq-list .menu-list h6{height:auto;font-size:14px;line-height:1;padding-left:0;}
.faq-list .menu-list .up h6{font-weight:500;color:#3f64c3;}
.faq-list .menu-list p{font-size:14px;line-height:1.5;color:#777;text-indent:-12px;padding-left:12px;margin-top:16px;}
.faq-list .menu-list p span{display:block;margin-top:8px;}
.faq-list .menu-list p span:first-child{margin-top:0;}
.faq-list .menu-list p span em:before{content:'';display:inline-block;width:3px;height:3px;border-radius:100%;background-color:#aaa;margin:0 5px 4px;}

/* chat-list-wrap */
.chat-list-wrap{padding:20px 29px;background:#f6f7f8;}
.chat-list-wrap > div{width:100%;line-height:1.4;}
.chat-list-wrap p{position:relative;width:fit-content;max-width:234px;font-size:14px;color:#222;padding:12px;border:1px solid #e7e7e7;border-radius:6px;background:#fff;margin-bottom:8px;}
.chat-list-wrap .left p:before{position:absolute;left:-8px;top:8px;content:'';display:block;width:10px;height:11px;background-image:url(/images/mobile/ico/ico-bubble-left.svg);background-repeat:no-repeat;}
.chat-list-wrap .left:after{content:'';display:block;clear:both;}
.chat-list-wrap .right{position:relative;margin-bottom:13px;}
.chat-list-wrap .right p:before{position:absolute;right:-9px;top:8px;content:'';display:block;width:9px;height:9px;background-image:url(/images/mobile/ico/ico-bubble-right.svg);background-repeat:no-repeat;}
.chat-list-wrap .right:after{content:'';display:block;clear:both;}
.chat-list-wrap .right p{float:right;border:0;background:#698ce7;color:#fff;}
.chat-list-wrap .right span{position:absolute;right:0;bottom:-13px;display:block;font-size:12px;color:#698ce7;}

/* design module */
/* car-option */
.option-cate{width:100%;}
.option-cate h4{font-size:14px;margin-bottom:20px;}
.cate-ico{width:100%;}
.cate-ico li{float:left;width:78px;height:84px;text-align:center;margin:8px 7px 0 0;border:1px solid #f2f2f2;border-radius:3px;padding-top:18px;}
.cate-ico li:nth-child(-n + 4){margin-top:0;}
.cate-ico li:nth-child(4n){margin-right:0;}
.cate-ico li.on{background-color:#3f64c3;}
.cate-ico li label{display:none;}
.cate-ico li span.ico-exp{display:block;font-size:12px;font-weight:500;color:#aaa;margin-top:7px;}
.cate-ico li.on span.ico-exp{color:#fff;}
.cate-ico li span em{display:block;}

/* toggle-list */
dl.toggle-list {border-bottom:1px solid #F2F2F2;}
dl.toggle-list > dt {border-top:1px solid #F2F2F2;}
dl.toggle-list > dt:first-child {border-top-width:0px;}
dl.toggle-list > dt > a {position:relative;display:block;padding:20px 0px 19px;color:#222222;}
dl.toggle-list > dt > a:after {content:'';display:block;width:11px;height:7px;opacity:0.8;position:absolute;top:23px;right:1px;background:url(/images/mobile/ico/ico-toggle.svg) no-repeat left top;}
dl.toggle-list > dt > a.on:after {transform:rotate(180deg)}
dl.toggle-list.bTit > dt > a.on {font-weight:bold; color:#3f64c3;}
dl.toggle-list > dd {display:none;padding:12px 0px;}

/* header */
header#header {position:fixed; z-index:4; top:0px; left:0px; width:100%; padding:19px 20px; border-bottom:1px solid #E7E7E7; background-color:white; transition:0.3s ease background-color,0.3s ease border-bottom-color; height:57px;}
header#header.transparent {background-color:transparent; border-bottom-color:transparent; transition:0.3s ease background-color,0.3s ease border-bottom-color;}
header#header h1 {margin-left:24px; font-size:18px; color:#222222; line-height:1;}
header#header h1.first {margin-left:0px;}
header#header.transparent h1 {color:white}
header#header button {position:absolute; top:13px; width:30px; height:30px; text-indent:-9999px; overflow:hidden; background-repeat:no-repeat; background-position:center center;}
header#header button.btn-back {left:9px; background-image:url(/images/mobile/common/btn-h-back.svg);}
header#header button.btn-close {right:12px; background-image:url(/images/mobile/common/btn-h-close.svg);}
header#header button.btn-gnb {right:12px; background-image:url(/images/mobile/common/btn-h-gnb.svg);}
header#header button.btn-alarm {right:55px; background-image:url(/images/mobile/common/btn-h-alarm.svg);}
header#header button.btn-search {right:55px; background-image:url(/images/mobile/common/btn-h-search.svg);}
header#header.transparent button.btn-back {background-image:url(/images/mobile/common/btn-h-back-trans.svg);}
header#header.transparent button.btn-close {background-image:url(/images/mobile/common/btn-h-close-trans.svg);}
header#header.transparent button.btn-gnb {background-image:url(/images/mobile/common/btn-h-gnb-trans.svg);}
header#header.transparent button.btn-alarm {background-image:url(/images/mobile/common/btn-h-alarm-trans.svg);}
header#header.transparent button.btn-search {background-image:url(/images/mobile/common/btn-h-search-trans.svg);}

/* site-map */
section#site-map{display:none;}

/* container */
section#container {margin-top:57px;}

/* modal-bg */
.modal-bg{position:fixed;z-index:98;top:0px;left:0px;width:100%;height:100%; background-color:#000;opacity:0;transition:opacity ease .3s;display:none;}
.modal-bg.active{opacity:.7;display:block;}